In [7]:
import pandas as pd
from scipy.stats import chi2_contingency

# 加载Titanic数据集
path = r'C:\Users\xdxd2\Sunny_VS_worksapce\Sunny_python\數據分析教材\sunny_ispan_data_analysis\kaggle\titanic\extracted_data\train.csv'
df = pd.read_csv(path, encoding="utf-8-sig")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [18]:
import pandas as pd
from scipy.stats import chi2_contingency

def chi_square_tests_with_bonferroni_correction(df, categorical_features, target_feature, alpha=0.05):
    """
    对Titanic数据集中的每个分类特征执行卡方检验，并应用Bonferroni校正解决多重检验问题。

    参数：
    - df: 包含数据的DataFrame。
    - categorical_features: 要进行卡方检验的分类特征列表。
    - target_feature: 存活与否的目标特征。
    - alpha: 显著性水平，默认为0.05。

    返回：
    - significant_features: 通过Bonferroni校正后具有显著关联的特征列表。
    """
    significant_features = []

    for feature in categorical_features:
        # 创建特征与目标的列联表
        contingency_table = pd.crosstab(df[feature], df[target_feature])

        # 执行卡方检验
        chi2, p, _, _ = chi2_contingency(contingency_table)

        # 校正显著性水平
        corrected_alpha = alpha / len(categorical_features)

        # 判断是否显著
        if p < corrected_alpha:
            significant_features.append(feature)

    return significant_features

具有显著关联的特征： ['Sex', 'Pclass', 'SibSp', 'Parch']

In [27]:
evalation_feature = df.columns.to_list()
evalation_feature.remove('Survived')

In [28]:
evalation_feature

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [29]:
# 示例用法
if __name__ == "__main__":
    # 加载Titanic数据集
    # df = pd.read_csv('titanic.csv')

    # 定义要进行卡方检验的分类特征列表
    categorical_features = ['Sex', 'Pclass', 'SibSp', 'Parch', 'Cabin']

    # 调用管道函数并获取显著特征
    significant_features = chi_square_tests_with_bonferroni_correction(df, evalation_feature, 'Survived')

    # 输出显著特征
    print("具有显著关联的特征：", significant_features)

具有显著关联的特征： ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S