
## ğŸ“˜ M2.1 Pandas DataFrame èˆ‡ Series åŸºç¤æ“ä½œ

æœ¬æ•™å­¸å°‡ä»‹ç´¹ Pandas çš„å…©å€‹æ ¸å¿ƒæ•¸æ“šçµæ§‹ï¼š`Series` èˆ‡ `DataFrame`ï¼Œå®ƒå€‘æ˜¯é€²è¡Œæ•¸æ“šåˆ†æçš„åŸºç¤ã€‚
æˆ‘å€‘å°‡è©³ç´°è¬›è§£é€™å…©ç¨®æ•¸æ“šçµæ§‹çš„ç‰¹æ€§ã€å‰µå»ºæ–¹æ³•å’ŒåŸºæœ¬æ“ä½œã€‚


### ğŸ¯ æ•™å­¸ç›®æ¨™

- ğŸ” äº†è§£ Pandas ä¸­ Series å’Œ DataFrame çš„æ¦‚å¿µå’Œé—œä¿‚
- ğŸ“¦ å­¸ç¿’å‰µå»ºå’Œåˆå§‹åŒ– Series å’Œ DataFrame çš„å¤šç¨®æ–¹æ³•
- ğŸ› ï¸ æŒæ¡ Series å’Œ DataFrame çš„åŸºæœ¬å±¬æ€§å’Œæ–¹æ³•
- ğŸ’» ç·´ç¿’å¸¸è¦‹çš„æ•¸æ“šæ“ä½œæŠ€å·§

### ğŸ§° 1. ç’°å¢ƒè¨­ç½®èˆ‡å°å…¥å¿…è¦çš„å¥—ä»¶

In [1]:
import numpy as np
import pandas as pd

# è¨­ç½®é¡¯ç¤ºé¸é …
pd.set_option('display.max_rows', 10)  # æœ€å¤šé¡¯ç¤º10è¡Œ
pd.set_option('display.max_columns', 10)  # æœ€å¤šé¡¯ç¤º10åˆ—
pd.set_option('display.width', 80)  # é¡¯ç¤ºå¯¬åº¦
pd.set_option('display.precision', 3)  # é¡¯ç¤ºå°æ•¸é»å¾Œ3ä½

è§£èªªï¼š
- `pd.set_option` ç”¨æ–¼è‡ªå®šç¾© Pandas çš„é¡¯ç¤ºè¨­ç½®ï¼Œè®“è¼¸å‡ºçµæœæ›´æ˜“é–±è®€
- `display.max_rows` å’Œ `display.max_columns` æ§åˆ¶é¡¯ç¤ºçš„è¡Œæ•¸å’Œåˆ—æ•¸ï¼Œé¿å…å¤§å‹æ•¸æ“šæ¡†éåº¦è¼¸å‡º
- `display.precision` è¨­å®šæµ®é»æ•¸é¡¯ç¤ºçš„å°æ•¸ä½æ•¸ï¼Œä¿æŒè¼¸å‡ºç°¡æ½”
- é€™äº›è¨­ç½®åƒ…å½±éŸ¿é¡¯ç¤ºï¼Œä¸æœƒæ”¹è®Šå¯¦éš›æ•¸æ“šè¨ˆç®—çš„ç²¾åº¦

### ğŸ“Š 2. Pandas Series ä»‹ç´¹

### 2.1 ä»€éº¼æ˜¯ Series?

å­¸ç¿’è¦é»ï¼š
- Series æ˜¯ Pandas ä¸­çš„ä¸€ç¶­æ¨™ç±¤æ•¸çµ„ï¼Œå¯ä»¥å­˜å„²å„ç¨®æ•¸æ“šé¡å‹
- Series ç”±ç´¢å¼•(index)å’Œå€¼(values)å…©éƒ¨åˆ†çµ„æˆ
- Series å¯ä»¥çœ‹ä½œæ˜¯ä¸€å€‹å¸¶æœ‰æ¨™ç±¤çš„ä¸€ç¶­ NumPy æ•¸çµ„ï¼Œæˆ–é¡ä¼¼å­—å…¸çš„æ•¸æ“šçµæ§‹


Series æ˜¯ Pandas ä¸­çš„ä¸€ç¶­æ¨™ç±¤æ•¸çµ„ï¼Œå¯ä»¥å­˜å„²å„ç¨®æ•¸æ“šé¡å‹ï¼ˆæ•´æ•¸ã€å­—ç¬¦ä¸²ã€æµ®é»æ•¸ã€Python å°è±¡ç­‰ï¼‰ã€‚
Series å¯ä»¥çœ‹ä½œæ˜¯ä¸€å€‹å¸¶æœ‰æ¨™ç±¤çš„ä¸€ç¶­ NumPy æ•¸çµ„ï¼Œæˆ–è€…æ˜¯ä¸€å€‹é¡ä¼¼æ–¼å­—å…¸çš„æ•¸æ“šçµæ§‹ã€‚

In [2]:
# å‰µå»ºä¸€å€‹ç°¡å–®çš„ Series
s = pd.Series([1, 3, 5, 7, 9])
print(s)
print(f"é¡å‹: {type(s)}")

# æŸ¥çœ‹ Series çš„åŸºæœ¬å±¬æ€§
print(f"\nç´¢å¼•: {s.index}")
print(f"å€¼: {s.values}")
print(f"å½¢ç‹€: {s.shape}")
print(f"ç¶­åº¦: {s.ndim}")
print(f"æ•¸æ“šé¡å‹: {s.dtype}")

0    1
1    3
2    5
3    7
4    9
dtype: int64
é¡å‹: <class 'pandas.core.series.Series'>

ç´¢å¼•: RangeIndex(start=0, stop=5, step=1)
å€¼: [1 3 5 7 9]
å½¢ç‹€: (5,)
ç¶­åº¦: 1
æ•¸æ“šé¡å‹: int64

è§£èªªï¼š
- Series ç”±å…©éƒ¨åˆ†çµ„æˆï¼šç´¢å¼• (index) å’Œå€¼ (values)
- å¦‚æœæœªæŒ‡å®šç´¢å¼•ï¼ŒPandas è‡ªå‹•å‰µå»ºå¾ 0 é–‹å§‹çš„æ•´æ•¸ç´¢å¼•
- `.values` å±¬æ€§è¿”å›åº•å±¤çš„ NumPy æ•¸çµ„ï¼Œå¯ç”¨æ–¼èˆ‡ NumPy äº’æ“ä½œ
- Series çš„ `.dtype` è¡¨ç¤ºå…¶ä¸­æ‰€æœ‰å…ƒç´ çš„æ•¸æ“šé¡å‹ï¼Œé¡ä¼¼æ–¼ NumPy æ•¸çµ„
- é›–ç„¶æ˜¯ä¸€ç¶­çµæ§‹ï¼ŒSeries æ¯” NumPy æ•¸çµ„æ›´éˆæ´»ï¼Œæ”¯æŒæ¨™ç±¤ç´¢å¼•å’Œæ›´è±å¯Œçš„æ“ä½œ

### 2.2 Series çš„å‰µå»ºæ–¹æ³•

In [3]:
# æ–¹æ³•1: å¾åˆ—è¡¨å‰µå»º (é»˜èªæ•´æ•¸ç´¢å¼•å¾0é–‹å§‹)
s1 = pd.Series([10, 20, 30, 40])
print("å¾åˆ—è¡¨å‰µå»º Series:")
print(s1)

# æ–¹æ³•2: å¾NumPyæ•¸çµ„å‰µå»º
arr = np.array([100, 200, 300, 400])
s2 = pd.Series(arr)
print("\nå¾NumPyæ•¸çµ„å‰µå»º Series:")
print(s2)

# æ–¹æ³•3: å¾å­—å…¸å‰µå»º (éµä½œç‚ºç´¢å¼•)
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
s3 = pd.Series(d)
print("\nå¾å­—å…¸å‰µå»º Series:")
print(s3)

# æ–¹æ³•4: ä½¿ç”¨æ¨™é‡å€¼å‰µå»º
s4 = pd.Series(5, index=['a', 'b', 'c'])  # æ‰€æœ‰å€¼éƒ½æ˜¯5
print("\nä½¿ç”¨æ¨™é‡å€¼å‰µå»º Series:")
print(s4)

# æ–¹æ³•5: æŒ‡å®šè‡ªå®šç¾©ç´¢å¼•
s5 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print("\næŒ‡å®šè‡ªå®šç¾©ç´¢å¼•å‰µå»º Series:")
print(s5)

å¾åˆ—è¡¨å‰µå»º Series:
0    10
1    20
2    30
3    40
dtype: int64

å¾NumPyæ•¸çµ„å‰µå»º Series:
0    100
1    200
2    300
3    400
dtype: int32

å¾å­—å…¸å‰µå»º Series:
a    1
b    2
c    3
d    4
dtype: int64

ä½¿ç”¨æ¨™é‡å€¼å‰µå»º Series:
a    5
b    5
c    5
dtype: int64

æŒ‡å®šè‡ªå®šç¾©ç´¢å¼•å‰µå»º Series:
a    1
b    2
c    3
d    4
dtype: int64

è§£èªªï¼š
- å¾åˆ—è¡¨æˆ– NumPy æ•¸çµ„å‰µå»º Series æ™‚ï¼Œç³»çµ±é»˜èªå‰µå»ºæ•´æ•¸ç´¢å¼•
- å¾å­—å…¸å‰µå»ºæ™‚ï¼Œå­—å…¸çš„éµè‡ªå‹•æˆç‚º Series çš„ç´¢å¼•ï¼Œå€¼æˆç‚º Series çš„æ•¸æ“šå€¼
- ä½¿ç”¨æ¨™é‡å‰µå»ºæ™‚ï¼Œè©²å€¼æœƒè¢«é‡è¤‡åˆ°æŒ‡å®šç´¢å¼•çš„æ¯å€‹ä½ç½®
- å¯ä»¥é€šé `index` åƒæ•¸é¡¯å¼æŒ‡å®šè‡ªå®šç¾©ç´¢å¼•ï¼Œä½¿æ•¸æ“šæ›´å…·èªç¾©åŒ–
- å­—ç¬¦ä¸²ç´¢å¼•ä½¿æ•¸æ“šå…·æœ‰æ›´å¥½çš„å¯è®€æ€§å’Œå¯æª¢ç´¢æ€§ï¼Œå¸¸ç”¨æ–¼åˆ†é¡æ•¸æ“š

### 2.3 Series çš„ç´¢å¼•å’Œåˆ‡ç‰‡

In [4]:
# å‰µå»ºä¸€å€‹ç¤ºä¾‹ Series
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print("ç¤ºä¾‹ Series:")
print(s)

# å–®å€‹å…ƒç´ è¨ªå•
print(f"\ns['a']: {s['a']}")  # é€šéæ¨™ç±¤ç´¢å¼•
print(f"s[0]: {s[0]}")      # é€šéä½ç½®ç´¢å¼•

# å¤šå€‹å…ƒç´ è¨ªå•
print(f"\ns[['a', 'c', 'e']]:\n{s[['a', 'c', 'e']]}")  # ä½¿ç”¨æ¨™ç±¤åˆ—è¡¨

# åˆ‡ç‰‡æ“ä½œ
print(f"\nä½¿ç”¨ä½ç½®åˆ‡ç‰‡ s[1:4]:\n{s[1:4]}")            # ä½ç½®åˆ‡ç‰‡
print(f"\nä½¿ç”¨æ¨™ç±¤åˆ‡ç‰‡ s['b':'d']:\n{s['b':'d']}")    # æ¨™ç±¤åˆ‡ç‰‡ (åŒ…å«çµæŸæ¨™ç±¤)

# æ¢ä»¶éæ¿¾
print(f"\næ¢ä»¶éæ¿¾ s[s > 30]:\n{s[s > 30]}")

ç¤ºä¾‹ Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

s['a']: 10
s[0]: 10

s[['a', 'c', 'e']]:
a    10
c    30
e    50
dtype: int64

ä½¿ç”¨ä½ç½®åˆ‡ç‰‡ s[1:4]:
b    20
c    30
d    40
dtype: int64

ä½¿ç”¨æ¨™ç±¤åˆ‡ç‰‡ s['b':'d']:
b    20
c    30
d    40
dtype: int64

æ¢ä»¶éæ¿¾ s[s > 30]:
d    40
e    50
dtype: int64

C:\Users\SUNNIE.GD.WENG\AppData\Local\Temp\ipykernel_30068\4042917843.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"s[0]: {s[0]}")      # é€šéä½ç½®ç´¢å¼•

è§£èªªï¼š
- Series æä¾›äº†å…©ç¨®ç´¢å¼•æ–¹å¼ï¼šä½ç½®ç´¢å¼•ï¼ˆæ•´æ•¸ï¼‰å’Œæ¨™ç±¤ç´¢å¼•ï¼ˆç”¨æˆ¶å®šç¾©çš„ç´¢å¼•å€¼ï¼‰
- ä½¿ç”¨æ–¹æ‹¬è™Ÿ `[]` å¯ä»¥è¨ªå•å–®å€‹å…ƒç´ ï¼Œä¹Ÿå¯ä»¥å‚³å…¥ç´¢å¼•åˆ—è¡¨é¸æ“‡å¤šå€‹å…ƒç´ 
- ä½ç½®åˆ‡ç‰‡ `s[1:4]` ä¸åŒ…å«çµæŸä½ç½®ï¼ˆé¡ä¼¼ Python åˆ—è¡¨ï¼‰ï¼Œè€Œæ¨™ç±¤åˆ‡ç‰‡ `s['b':'d']` åŒ…å«çµæŸæ¨™ç±¤
- æ¢ä»¶éæ¿¾è¿”å›æ»¿è¶³æ¢ä»¶çš„å…ƒç´ å­é›†ï¼Œæ˜¯æ•¸æ“šåˆ†æä¸­å¸¸ç”¨çš„å¼·å¤§åŠŸèƒ½
- é€™äº›éˆæ´»çš„ç´¢å¼•æ–¹å¼ä½¿ Series åœ¨æ•¸æ“šè™•ç†æ™‚æ¯”æ™®é€šåˆ—è¡¨æˆ–æ•¸çµ„æ›´åŠ ä¾¿æ·

### 2.4 Series åŸºæœ¬é‹ç®—

In [5]:
# å‰µå»ºå…©å€‹ Series
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# ç®—è¡“é‹ç®—
print(f"s1 + s2:\n{s1 + s2}")
print(f"\ns1 * 2:\n{s1 * 2}")

# å¸¶æœ‰ä¸åŒç´¢å¼•çš„ Series é‹ç®—
s3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s4 = pd.Series([10, 20, 30, 40], index=['b', 'c', 'd', 'e'])

# æ³¨æ„ç´¢å¼•çš„è‡ªå‹•å°é½Š
print(f"\ns3 + s4:\n{s3 + s4}")  # aå’Œeä½ç½®æœƒè®ŠæˆNaN

# çµ±è¨ˆæ–¹æ³•
print(f"\ns1çš„ç¸½å’Œ: {s1.sum()}")
print(f"s1çš„å¹³å‡å€¼: {s1.mean()}")
print(f"s1çš„æ¨™æº–å·®: {s1.std()}")
print(f"s1çš„æè¿°æ€§çµ±è¨ˆ:\n{s1.describe()}")

# æ‡‰ç”¨å‡½æ•¸
print(f"\nå°‡s1çš„æ¯å€‹å…ƒç´ å¹³æ–¹:\n{s1.apply(lambda x: x**2)}")

s1 + s2:
a    11
b    22
c    33
d    44
dtype: int64

s1 * 2:
a    2
b    4
c    6
d    8
dtype: int64

s3 + s4:
a     NaN
b    12.0
c    23.0
d    34.0
e     NaN
dtype: float64

s1çš„ç¸½å’Œ: 10
s1çš„å¹³å‡å€¼: 2.5
s1çš„æ¨™æº–å·®: 1.2909944487358056
s1çš„æè¿°æ€§çµ±è¨ˆ:
count    4.000
mean     2.500
std      1.291
min      1.000
25%      1.750
50%      2.500
75%      3.250
max      4.000
dtype: float64

å°‡s1çš„æ¯å€‹å…ƒç´ å¹³æ–¹:
a     1
b     4
c     9
d    16
dtype: int64

è§£èªªï¼š
- Series æ”¯æŒå‘é‡åŒ–é‹ç®—ï¼Œå¯ä»¥ç›´æ¥é€²è¡ŒåŠ æ¸›ä¹˜é™¤ç­‰æ“ä½œï¼Œç„¡éœ€å¾ªç’°è¿­ä»£
- å…©å€‹ Series é‹ç®—æ™‚æœƒè‡ªå‹•æŒ‰ç´¢å¼•å°é½Šï¼Œåªæœ‰å…±åŒç´¢å¼•çš„æ•¸æ“šåƒèˆ‡è¨ˆç®—
- ä¸åŒç´¢å¼•çš„ä½ç½®æœƒç”¢ç”Ÿ NaNï¼ˆç¼ºå¤±å€¼ï¼‰ï¼Œé€™æ˜¯ Pandas çš„è‡ªå‹•å°é½Šæ©Ÿåˆ¶
- Series æä¾›è±å¯Œçš„çµ±è¨ˆæ–¹æ³•ï¼ˆsum, mean, std ç­‰ï¼‰å’Œæè¿°æ€§çµ±è¨ˆ (describe)
- `.apply()` æ–¹æ³•å…è¨±å°æ¯å€‹å…ƒç´ æ‡‰ç”¨è‡ªå®šç¾©å‡½æ•¸ï¼Œæ”¯æŒè¤‡é›œçš„æ•¸æ“šè½‰æ›
- é€™äº›ç‰¹æ€§ä½¿ Series æˆç‚ºæ•¸æ“šç§‘å­¸å®¶è™•ç†å–®è®Šé‡æ•¸æ“šçš„é¦–é¸å·¥å…·

### 2.5 Series ç¼ºå¤±å€¼è™•ç†

In [6]:
# å‰µå»ºå«æœ‰ç¼ºå¤±å€¼çš„ Series
s = pd.Series([1, np.nan, 3, None, 5])
print("å«æœ‰ç¼ºå¤±å€¼çš„ Series:")
print(s)
print(f"æ˜¯å¦æœ‰ç©ºå€¼: {s.isna()}")
print(f"éç©ºå€¼çš„æ•¸é‡: {s.count()}")

# è™•ç†ç¼ºå¤±å€¼
print(f"\nä¸Ÿæ£„ç¼ºå¤±å€¼:\n{s.dropna()}")
print(f"\nå¡«å……ç¼ºå¤±å€¼ç‚º0:\n{s.fillna(0)}")
print(f"\nå¡«å……ç¼ºå¤±å€¼ç‚ºå‰é¢çš„å€¼:\n{s.fillna(method='ffill')}")
print(f"\nå¡«å……ç¼ºå¤±å€¼ç‚ºå¾Œé¢çš„å€¼:\n{s.fillna(method='bfill')}")

# åŸå§‹ Series ä¸è®Š
print(f"\nåŸå§‹ Series:\n{s}")

å«æœ‰ç¼ºå¤±å€¼çš„ Series:
0    1.0
1    NaN
2    3.0
3    NaN
4    5.0
dtype: float64
æ˜¯å¦æœ‰ç©ºå€¼: 0    False
1     True
2    False
3     True
4    False
dtype: bool
éç©ºå€¼çš„æ•¸é‡: 3

ä¸Ÿæ£„ç¼ºå¤±å€¼:
0    1.0
2    3.0
4    5.0
dtype: float64

å¡«å……ç¼ºå¤±å€¼ç‚º0:
0    1.0
1    0.0
2    3.0
3    0.0
4    5.0
dtype: float64

å¡«å……ç¼ºå¤±å€¼ç‚ºå‰é¢çš„å€¼:
0    1.0
1    1.0
2    3.0
3    3.0
4    5.0
dtype: float64

å¡«å……ç¼ºå¤±å€¼ç‚ºå¾Œé¢çš„å€¼:
0    1.0
1    3.0
2    3.0
3    5.0
4    5.0
dtype: float64

åŸå§‹ Series:
0    1.0
1    NaN
2    3.0
3    NaN
4    5.0
dtype: float64

C:\Users\SUNNIE.GD.WENG\AppData\Local\Temp\ipykernel_30068\3101164292.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(f"\nå¡«å……ç¼ºå¤±å€¼ç‚ºå‰é¢çš„å€¼:\n{s.fillna(method='ffill')}")
C:\Users\SUNNIE.GD.WENG\AppData\Local\Temp\ipykernel_30068\3101164292.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(f"\nå¡«å……ç¼ºå¤±å€¼ç‚ºå¾Œé¢çš„å€¼:\n{s.fillna(method='bfill')}")

è§£èªªï¼š
- Pandas å°‡ `np.nan` å’Œ `None` éƒ½è¦–ç‚ºç¼ºå¤±å€¼ï¼Œä½¿ç”¨ `.isna()` æˆ– `.isnull()` æ–¹æ³•å¯æª¢æ¸¬å®ƒå€‘
- `.count()` è¿”å›éç¼ºå¤±å€¼çš„æ•¸é‡ï¼Œå¸¸ç”¨æ–¼è¨ˆç®—æœ‰æ•ˆæ•¸æ“šæ¯”ä¾‹
- è™•ç†ç¼ºå¤±å€¼çš„ä¸»è¦ç­–ç•¥åŒ…æ‹¬ï¼š
  - åˆªé™¤ï¼šä½¿ç”¨ `.dropna()` ç§»é™¤å«æœ‰ç¼ºå¤±å€¼çš„è¨˜éŒ„
  - å¡«å……å›ºå®šå€¼ï¼šä½¿ç”¨ `.fillna(å€¼)` å°‡ç¼ºå¤±å€¼æ›¿æ›ç‚ºç‰¹å®šå€¼
  - å‰å‘å¡«å……ï¼šä½¿ç”¨ `.fillna(method='ffill')` ç”¨å‰ä¸€å€‹æœ‰æ•ˆå€¼å¡«å……
  - å¾Œå‘å¡«å……ï¼šä½¿ç”¨ `.fillna(method='bfill')` ç”¨å¾Œä¸€å€‹æœ‰æ•ˆå€¼å¡«å……
- é€™äº›æ–¹æ³•é»˜èªè¿”å›æ–°çš„ Seriesï¼Œä¸æœƒä¿®æ”¹åŸå§‹æ•¸æ“šï¼Œé™¤éæŒ‡å®š `inplace=True`
- ç¼ºå¤±å€¼è™•ç†æ˜¯æ•¸æ“šæ¸…æ´—ä¸­çš„é—œéµæ­¥é©Ÿï¼Œé¸æ“‡é©ç•¶çš„ç­–ç•¥å–æ±ºæ–¼å…·é«”çš„æ•¸æ“šèƒŒæ™¯


## 3. Pandas DataFrame ä»‹ç´¹

### 3.1 ä»€éº¼æ˜¯ DataFrame?

å­¸ç¿’è¦é»ï¼š
- DataFrame æ˜¯ Pandas ä¸­çš„äºŒç¶­è¡¨æ ¼æ•¸æ“šçµæ§‹ï¼Œé¡ä¼¼æ–¼ Excel å·¥ä½œè¡¨æˆ– SQL è¡¨æ ¼
- DataFrame ç”±è¡Œå’Œåˆ—çµ„æˆï¼Œæ¯ä¸€åˆ—å¯ä»¥çœ‹ä½œæ˜¯ä¸€å€‹ Series
- DataFrame æœ‰è¡Œç´¢å¼•ï¼ˆindexï¼‰å’Œåˆ—æ¨™ç±¤ï¼ˆcolumnsï¼‰å…©å€‹è»¸


DataFrame æ˜¯ Pandas ä¸­çš„ä¸€å€‹äºŒç¶­æ¨™ç±¤æ•¸æ“šçµæ§‹ï¼Œé¡ä¼¼æ–¼ Excel é›»å­è¡¨æ ¼æˆ– SQL è¡¨ã€‚ <br>
å®ƒç”±è¡Œå’Œåˆ—çµ„æˆï¼Œå¯ä»¥çœ‹ä½œæ˜¯ç”±å¤šå€‹å…±äº«ç›¸åŒç´¢å¼•çš„ Series çµ„æˆçš„å­—å…¸çµæ§‹ã€‚ <br>
DataFrame æ˜¯æ•¸æ“šåˆ†æä¸­æœ€å¸¸ç”¨çš„æ•¸æ“šçµæ§‹ï¼Œç”¨æ–¼è™•ç†å’Œåˆ†æè¡¨æ ¼æ•¸æ“šã€‚ <br>

In [7]:
# å‰µå»ºä¸€å€‹ç°¡å–®çš„ DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Boston', 'Chicago', 'Denver'],
    'Salary': [50000, 60000, 70000, 80000]
})

print("DataFrame ç¤ºä¾‹:")
print(df)

# æŸ¥çœ‹ DataFrame çš„åŸºæœ¬ä¿¡æ¯
print(f"\nDataFrame å½¢ç‹€: {df.shape}")
print(f"DataFrame åˆ—å: {df.columns}")
print(f"DataFrame ç´¢å¼•: {df.index}")
print(f"DataFrame æ•¸æ“šé¡å‹:\n{df.dtypes}")

# æŸ¥çœ‹æ•¸æ“šæ‘˜è¦
print("\nDataFrame é ­éƒ¨æ•¸æ“š:")
print(df.head(2))
print("\nDataFrame å°¾éƒ¨æ•¸æ“š:")
print(df.tail(2))
print("\nDataFrame åŸºæœ¬æè¿°çµ±è¨ˆ:")
print(df.describe())

DataFrame ç¤ºä¾‹:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    Boston   60000
2  Charlie   35   Chicago   70000
3    David   40    Denver   80000

DataFrame å½¢ç‹€: (4, 4)
DataFrame åˆ—å: Index(['Name', 'Age', 'City', 'Salary'], dtype='object')
DataFrame ç´¢å¼•: RangeIndex(start=0, stop=4, step=1)
DataFrame æ•¸æ“šé¡å‹:
Name      object
Age        int64
City      object
Salary     int64
dtype: object

DataFrame é ­éƒ¨æ•¸æ“š:
    Name  Age      City  Salary
0  Alice   25  New York   50000
1    Bob   30    Boston   60000

DataFrame å°¾éƒ¨æ•¸æ“š:
      Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40   Denver   80000

DataFrame åŸºæœ¬æè¿°çµ±è¨ˆ:
          Age     Salary
count   4.000      4.000
mean   32.500  65000.000
std     6.455  12909.944
min    25.000  50000.000
25%    28.750  57500.000
50%    32.500  65000.000
75%    36.250  72500.000
max    40.000  80000.000

è§£èªªï¼š
- DataFrame æ˜¯ Pandas çš„æ ¸å¿ƒæ•¸æ“šçµæ§‹ï¼Œå¯è¦–ç‚ºç”±å¤šå€‹ Series çµ„æˆçš„äºŒç¶­è¡¨æ ¼
- æ¯ä¸€åˆ—éƒ½æ˜¯ä¸€å€‹ Seriesï¼Œå…±äº«ç›¸åŒçš„ç´¢å¼•ï¼ˆè¡Œæ¨™ç±¤ï¼‰
- `.shape` è¿”å›è¡Œæ•¸å’Œåˆ—æ•¸ï¼Œ`.columns` è¿”å›åˆ—ååˆ—è¡¨ï¼Œ`.index` è¿”å›è¡Œç´¢å¼•
- `.dtypes` é¡¯ç¤ºæ¯ä¸€åˆ—çš„æ•¸æ“šé¡å‹ï¼ŒPandas è‡ªå‹•æ¨æ–·æœ€ä½³é¡å‹
- `.head()` å’Œ `.tail()` ç”¨æ–¼å¿«é€ŸæŸ¥çœ‹æ•¸æ“šçš„é–‹é ­å’Œçµå°¾éƒ¨åˆ†ï¼Œåƒæ•¸è¡¨ç¤ºé¡¯ç¤ºçš„è¡Œæ•¸
- `.describe()` æä¾›æ•¸å€¼åˆ—çš„çµ±è¨ˆæ‘˜è¦ï¼ŒåŒ…æ‹¬è¨ˆæ•¸ã€å¹³å‡å€¼ã€æ¨™æº–å·®ã€æœ€å°å€¼ã€å››åˆ†ä½æ•¸å’Œæœ€å¤§å€¼
- é€™äº›æ–¹æ³•ä½¿æ•¸æ“šçµæ§‹é€æ˜ä¸”æ˜“æ–¼æ¢ç´¢ï¼Œæ˜¯æ•¸æ“šåˆ†æçš„ç¬¬ä¸€æ­¥

### 3.2 DataFrame çš„å‰µå»ºæ–¹æ³•

In [8]:
# æ–¹æ³•1: å¾å­—å…¸å‰µå»ºï¼ˆå­—å…¸çš„éµä½œç‚ºåˆ—åï¼‰
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Boston', 'Chicago']
}
df1 = pd.DataFrame(data)
print("å¾å­—å…¸å‰µå»º DataFrame:")
print(df1)

# æ–¹æ³•2: å¾åµŒå¥—åˆ—è¡¨å‰µå»º
data_list = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Boston'],
    ['Charlie', 35, 'Chicago']
]
df2 = pd.DataFrame(data_list, columns=['Name', 'Age', 'City'])
print("\nå¾åµŒå¥—åˆ—è¡¨å‰µå»º DataFrame:")
print(df2)

# æ–¹æ³•3: å¾å­—å…¸åˆ—è¡¨å‰µå»º
dict_list = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Boston'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]
df3 = pd.DataFrame(dict_list)
print("\nå¾å­—å…¸åˆ—è¡¨å‰µå»º DataFrame:")
print(df3)

# æ–¹æ³•4: å¾NumPyäºŒç¶­æ•¸çµ„å‰µå»º
arr = np.array([['Alice', 25, 'New York'],
                ['Bob', 30, 'Boston'],
                ['Charlie', 35, 'Chicago']])
df4 = pd.DataFrame(arr, columns=['Name', 'Age', 'City'])
print("\nå¾NumPyæ•¸çµ„å‰µå»º DataFrame:")
print(df4)

# æ–¹æ³•5: å¾Serieså‰µå»º
s1 = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')
s2 = pd.Series([25, 30, 35], name='Age')
s3 = pd.Series(['New York', 'Boston', 'Chicago'], name='City')
df5 = pd.DataFrame([s1, s2, s3]).T  # è½‰ç½®(T)ä½¿Seriesè®Šç‚ºåˆ—
print("\nå¾Serieså‰µå»º DataFrame:")
print(df5)

å¾å­—å…¸å‰µå»º DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    Boston
2  Charlie   35   Chicago

å¾åµŒå¥—åˆ—è¡¨å‰µå»º DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    Boston
2  Charlie   35   Chicago

å¾å­—å…¸åˆ—è¡¨å‰µå»º DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    Boston
2  Charlie   35   Chicago

å¾NumPyæ•¸çµ„å‰µå»º DataFrame:
      Name Age      City
0    Alice  25  New York
1      Bob  30    Boston
2  Charlie  35   Chicago

å¾Serieså‰µå»º DataFrame:
      Name Age      City
0    Alice  25  New York
1      Bob  30    Boston
2  Charlie  35   Chicago

è§£èªªï¼š
- å¾å­—å…¸å‰µå»ºæ˜¯æœ€å¸¸ç”¨çš„æ–¹æ³•ï¼Œå­—å…¸çš„éµæˆç‚ºåˆ—åï¼Œå€¼æˆç‚ºåˆ—æ•¸æ“š
- å¾åµŒå¥—åˆ—è¡¨å‰µå»ºæ™‚ï¼Œéœ€è¦æ˜ç¢ºæŒ‡å®šåˆ—åï¼Œå¦å‰‡ä½¿ç”¨æ•¸å­—ç´¢å¼•
- å¾å­—å…¸åˆ—è¡¨å‰µå»ºæ™‚ï¼Œæ¯å€‹å­—å…¸ä»£è¡¨ä¸€è¡Œæ•¸æ“šï¼Œéµæˆç‚ºåˆ—å
- å¾NumPyæ•¸çµ„å‰µå»ºæ™‚ï¼Œæ•¸çµ„çš„å½¢ç‹€æ±ºå®šDataFrameçš„å½¢ç‹€ï¼Œé€šå¸¸éœ€è¦æŒ‡å®šåˆ—å
- å¾Serieså‰µå»ºæ™‚ï¼Œæ¯å€‹Seriesæˆç‚ºä¸€è¡Œæˆ–ä¸€åˆ—ï¼Œéœ€è¦æ³¨æ„è½‰ç½®(T)ä»¥å¾—åˆ°é æœŸçš„å½¢ç‹€
- å‰µå»ºDataFrameæ™‚å¯ä»¥æŒ‡å®šç´¢å¼•(index)å’Œåˆ—å(columns)ï¼Œä½¿æ•¸æ“šæ›´å…·èªç¾©åŒ–
- é¸æ“‡åˆé©çš„å‰µå»ºæ–¹æ³•å–æ±ºæ–¼æ•¸æ“šçš„ä¾†æºå’Œæ ¼å¼ï¼ŒPandasæä¾›äº†éˆæ´»æ€§ä¾†è™•ç†å„ç¨®æƒ…æ³

### 3.3 DataFrame çš„ç´¢å¼•å’Œåˆ‡ç‰‡

In [9]:
# å‰µå»ºç¤ºä¾‹ DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Boston', 'Chicago', 'Denver', 'Miami'],
    'Salary': [50000, 60000, 70000, 80000, 90000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing']
})
print("ç¤ºä¾‹ DataFrame:")
print(df)

# 1. é¸æ“‡åˆ—
print("\né¸æ“‡å–®åˆ— (Series æ ¼å¼):")
print(df['Name'])
print("\né¸æ“‡å¤šåˆ— (DataFrame æ ¼å¼):")
print(df[['Name', 'Age']])

# 2. é¸æ“‡è¡Œ - ä½¿ç”¨ä½ç½®ç´¢å¼•
print("\nä½¿ç”¨ .iloc é¸æ“‡è¡Œ (åŸºæ–¼ä½ç½®):")
print(df.iloc[0])  # ç¬¬ä¸€è¡Œ
print("\né¸æ“‡å¤šè¡Œ:")
print(df.iloc[1:3])  # ç¬¬äºŒè¡Œåˆ°ç¬¬ä¸‰è¡Œ

# 3. é¸æ“‡è¡Œ - ä½¿ç”¨æ¨™ç±¤ç´¢å¼•
print("\nä½¿ç”¨ .loc é¸æ“‡è¡Œ (åŸºæ–¼æ¨™ç±¤):")
print(df.loc[2])  # ç´¢å¼•ç‚º2çš„è¡Œ
print("\né¸æ“‡å¤šè¡Œ:")
print(df.loc[1:3])  # ç´¢å¼•ç‚º1åˆ°3çš„è¡Œ (åŒ…å«3)

# 4. é¸æ“‡è¡Œå’Œåˆ— (åŒæ™‚)
print("\nä½¿ç”¨ .loc é¸æ“‡ç‰¹å®šè¡Œå’Œåˆ—:")
print(df.loc[1:3, ['Name', 'Salary']])  # ç´¢å¼•1åˆ°3çš„è¡Œï¼Œåªé¸Nameå’ŒSalaryåˆ—

print("\nä½¿ç”¨ .iloc é¸æ“‡ç‰¹å®šè¡Œå’Œåˆ—:")
print(df.iloc[1:3, [0, 3]])  # ç¬¬äºŒè¡Œåˆ°ç¬¬ä¸‰è¡Œï¼Œç¬¬ä¸€åˆ—å’Œç¬¬å››åˆ—

# 5. ç°¡å–®æ¢ä»¶é¸æ“‡
print("\næ¢ä»¶é¸æ“‡ - é¸æ“‡å¹´é½¡å¤§æ–¼35çš„è¨˜éŒ„:")
print(df[df['Age'] > 35])

print("\næ¢ä»¶é¸æ“‡ - é¸æ“‡åœ¨ITéƒ¨é–€çš„è¨˜éŒ„:")
print(df[df['Department'] == 'IT'])

print("\nè¤‡åˆæ¢ä»¶ - é¸æ“‡å¹´é½¡å¤§æ–¼30ä¸”è–ªæ°´å¤§æ–¼70000çš„è¨˜éŒ„:")
print(df[(df['Age'] > 30) & (df['Salary'] > 70000)])

ç¤ºä¾‹ DataFrame:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         HR
1      Bob   30    Boston   60000         IT
2  Charlie   35   Chicago   70000    Finance
3    David   40    Denver   80000         IT
4      Eve   45     Miami   90000  Marketing

é¸æ“‡å–®åˆ— (Series æ ¼å¼):
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

é¸æ“‡å¤šåˆ— (DataFrame æ ¼å¼):
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

ä½¿ç”¨ .iloc é¸æ“‡è¡Œ (åŸºæ–¼ä½ç½®):
Name             Alice
Age                 25
City          New York
Salary           50000
Department          HR
Name: 0, dtype: object

é¸æ“‡å¤šè¡Œ:
      Name  Age     City  Salary Department
1      Bob   30   Boston   60000         IT
2  Charlie   35  Chicago   70000    Finance

ä½¿ç”¨ .loc é¸æ“‡è¡Œ (åŸºæ–¼æ¨™ç±¤):
Name          Charlie
Age                35
City          Chicago
Salary          70000
Department    Finance
Name: 2, dtype: object

é¸æ“‡å¤šè¡Œ:
      Name  Age     City  Salary Department
1      Bob   30   Boston   60000         IT
2  Charlie   35  Chicago   70000    Finance
3    David   40   Denver   80000         IT

ä½¿ç”¨ .loc é¸æ“‡ç‰¹å®šè¡Œå’Œåˆ—:
      Name  Salary
1      Bob   60000
2  Charlie   70000
3    David   80000

ä½¿ç”¨ .iloc é¸æ“‡ç‰¹å®šè¡Œå’Œåˆ—:
      Name  Salary
1      Bob   60000
2  Charlie   70000

æ¢ä»¶é¸æ“‡ - é¸æ“‡å¹´é½¡å¤§æ–¼35çš„è¨˜éŒ„:
    Name  Age    City  Salary Department
3  David   40  Denver   80000         IT
4    Eve   45   Miami   90000  Marketing

æ¢ä»¶é¸æ“‡ - é¸æ“‡åœ¨ITéƒ¨é–€çš„è¨˜éŒ„:
    Name  Age    City  Salary Department
1    Bob   30  Boston   60000         IT
3  David   40  Denver   80000         IT

è¤‡åˆæ¢ä»¶ - é¸æ“‡å¹´é½¡å¤§æ–¼30ä¸”è–ªæ°´å¤§æ–¼70000çš„è¨˜éŒ„:
    Name  Age    City  Salary Department
3  David   40  Denver   80000         IT
4    Eve   45   Miami   90000  Marketing

è§£èªªï¼š
- DataFrame æä¾›å¤šç¨®ç´¢å¼•å’Œåˆ‡ç‰‡æ–¹å¼ï¼Œé©ç”¨æ–¼ä¸åŒçš„æ•¸æ“šé¸æ“‡éœ€æ±‚
- é¸æ“‡åˆ—çš„æ–¹æ³•ï¼š
  - å–®æ‹¬è™Ÿ `df['åˆ—å']` è¿”å›å–®åˆ—ä½œç‚º Series
  - é›™æ‹¬è™Ÿ `df[['åˆ—å1', 'åˆ—å2']]` è¿”å›å¤šåˆ—ä½œç‚º DataFrame
- æŒ‰ä½ç½®é¸æ“‡è¡Œçš„æ–¹æ³•ï¼š
  - `.iloc[i]` é¸æ“‡ç¬¬ i è¡Œï¼ˆå¾0é–‹å§‹ï¼‰
  - `.iloc[i:j]` é¸æ“‡ç¬¬ i è¡Œåˆ°ç¬¬ j-1 è¡Œï¼ˆä¸åŒ…å«jï¼‰
- æŒ‰æ¨™ç±¤é¸æ“‡è¡Œçš„æ–¹æ³•ï¼š
  - `.loc[i]` é¸æ“‡ç´¢å¼•ç‚º i çš„è¡Œ
  - `.loc[i:j]` é¸æ“‡ç´¢å¼•å¾ i åˆ° j çš„è¡Œï¼ˆåŒ…å«jï¼‰
- åŒæ™‚é¸æ“‡è¡Œå’Œåˆ—ï¼š
  - `.loc[è¡Œç¯„åœ, åˆ—ç¯„åœ]` ä½¿ç”¨æ¨™ç±¤
  - `.iloc[è¡Œç¯„åœ, åˆ—ç¯„åœ]` ä½¿ç”¨ä½ç½®
- é€™äº›éˆæ´»çš„é¸æ“‡æ–¹æ³•ä½¿ DataFrame æˆç‚ºæ•¸æ“šåˆ†æçš„å¼·å¤§å·¥å…·

### 3.4 DataFrame çš„åŸºæœ¬æ“ä½œ

In [10]:
# å‰µå»ºç¤ºä¾‹ DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Boston', 'Chicago']
})
print("åŸå§‹ DataFrame:")
print(df)

# 1. æ·»åŠ æ–°åˆ—
df['Salary'] = [50000, 60000, 70000]  # ç›´æ¥è³¦å€¼
df['YearsEmployed'] = df['Age'] - 20  # åŸºæ–¼ç¾æœ‰åˆ—è¨ˆç®—
print("\næ·»åŠ æ–°åˆ—å¾Œçš„ DataFrame:")
print(df)

# 2. åˆªé™¤åˆ—
df_drop_col = df.drop('YearsEmployed', axis=1)  # axis=1è¡¨ç¤ºåˆ—
print("\nåˆªé™¤'YearsEmployed'åˆ—å¾Œçš„ DataFrame:")
print(df_drop_col)

# 3. åˆªé™¤è¡Œ
df_drop_row = df.drop(1, axis=0)  # axis=0è¡¨ç¤ºè¡Œï¼Œåˆªé™¤ç´¢å¼•ç‚º1çš„è¡Œ
print("\nåˆªé™¤ç´¢å¼•ç‚º1çš„è¡Œå¾Œçš„ DataFrame:")
print(df_drop_row)

# 4. é‡å‘½ååˆ—
df_renamed = df.rename(columns={'Name': 'FullName', 'City': 'Location'})
print("\né‡å‘½ååˆ—å¾Œçš„ DataFrame:")
print(df_renamed)

# 5. æ’åº
df_sorted_by_age = df.sort_values('Age', ascending=False)  # æŒ‰å¹´é½¡é™åºæ’åˆ—
print("\næŒ‰å¹´é½¡é™åºæ’åºå¾Œçš„ DataFrame:")
print(df_sorted_by_age)

# 6. è½‰ç½®
df_transposed = df.T  # è¡Œå’Œåˆ—äº’æ›
print("\nè½‰ç½®å¾Œçš„ DataFrame:")
print(df_transposed)

åŸå§‹ DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    Boston
2  Charlie   35   Chicago

æ·»åŠ æ–°åˆ—å¾Œçš„ DataFrame:
      Name  Age      City  Salary  YearsEmployed
0    Alice   25  New York   50000              5
1      Bob   30    Boston   60000             10
2  Charlie   35   Chicago   70000             15

åˆªé™¤'YearsEmployed'åˆ—å¾Œçš„ DataFrame:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    Boston   60000
2  Charlie   35   Chicago   70000

åˆªé™¤ç´¢å¼•ç‚º1çš„è¡Œå¾Œçš„ DataFrame:
      Name  Age      City  Salary  YearsEmployed
0    Alice   25  New York   50000              5
2  Charlie   35   Chicago   70000             15

é‡å‘½ååˆ—å¾Œçš„ DataFrame:
  FullName  Age  Location  Salary  YearsEmployed
0    Alice   25  New York   50000              5
1      Bob   30    Boston   60000             10
2  Charlie   35   Chicago   70000             15

æŒ‰å¹´é½¡é™åºæ’åºå¾Œçš„ DataFrame:
      Name  Age      City  Salary  YearsEmployed
2  Charlie   35   Chicago   70000             15
1      Bob   30    Boston   60000             10
0    Alice   25  New York   50000              5

è½‰ç½®å¾Œçš„ DataFrame:
                      0       1        2
Name              Alice     Bob  Charlie
Age                  25      30       35
City           New York  Boston  Chicago
Salary            50000   60000    70000
YearsEmployed         5      10       15

è§£èªªï¼š
- æ·»åŠ æ–°åˆ—å¯ä»¥é€šéç›´æ¥è³¦å€¼æˆ–åŸºæ–¼ç¾æœ‰åˆ—çš„è¨ˆç®—
- åˆªé™¤æ“ä½œä½¿ç”¨ `drop()` æ–¹æ³•ï¼Œéœ€è¦æŒ‡å®š axis åƒæ•¸ï¼ˆ0è¡¨ç¤ºè¡Œï¼Œ1è¡¨ç¤ºåˆ—ï¼‰
- é€™äº›æ–¹æ³•é»˜èªè¿”å›æ–°çš„ DataFrameï¼Œä¸ä¿®æ”¹åŸå§‹æ•¸æ“šï¼Œé™¤éæŒ‡å®š `inplace=True`
- é‡å‘½ååˆ—ä½¿ç”¨ `rename()` æ–¹æ³•ï¼Œå‚³å…¥å­—å…¸æ˜ å°„èˆŠåç¨±åˆ°æ–°åç¨±
- æ’åºä½¿ç”¨ `sort_values()` æ–¹æ³•ï¼Œå¯ä»¥æŒ‰å–®åˆ—æˆ–å¤šåˆ—æ’åºï¼Œæ§åˆ¶å‡åºæˆ–é™åº
- è½‰ç½®æ“ä½œä½¿ç”¨ `.T` å±¬æ€§ï¼Œå°‡è¡Œå’Œåˆ—äº’æ›ï¼Œå°æ–¼å¯¬è¡¨æ ¼è®Šé•·è¡¨æ ¼å¾ˆæœ‰ç”¨
- é€™äº›åŸºæœ¬æ“ä½œç‚ºæ•¸æ“šåˆ†æå’Œé è™•ç†æä¾›äº†è±å¯Œçš„å·¥å…·é›†


## ğŸ“‹ 5. ç¸½çµèˆ‡æœ€ä½³å¯¦è¸


### 5.1 Series èˆ‡ DataFrame çš„æ ¸å¿ƒæ¦‚å¿µ


- **Series**: ä¸€ç¶­æ¨™ç±¤æ•¸çµ„ï¼Œç´¢å¼•-å€¼å°ï¼Œé¡ä¼¼æ–¼å­—å…¸
- **DataFrame**: äºŒç¶­æ¨™ç±¤æ•¸æ“šçµæ§‹ï¼Œå¯ä»¥çœ‹ä½œæ˜¯å…±äº«ç´¢å¼•çš„ Series é›†åˆ
- å…©è€…éƒ½æ”¯æŒæ¨™ç±¤ç´¢å¼•å’Œä½ç½®ç´¢å¼•
- è‡ªå‹•å°é½Šå’Œå»£æ’­æ©Ÿåˆ¶ä½¿æ•¸æ“šè™•ç†æ›´åŠ ç›´è¦ºå’Œä¾¿æ·

è§£èªªï¼š
- Series é©åˆè™•ç†å–®è®Šé‡æ•¸æ“šï¼Œå¦‚æ™‚é–“åºåˆ—ã€ä¸€ç¶­æ¸¬é‡çµæœæˆ–é¡åˆ¥é »ç‡
- DataFrame é©åˆè™•ç†å¤šè®Šé‡æ•¸æ“šï¼Œå¦‚è¡¨æ ¼æ•¸æ“šã€å¤šç‰¹å¾µè§€æ¸¬æˆ–é—œä¿‚æ•¸æ“š
- å…©è€…çš„é—œéµå„ªå‹¢æ˜¯æ¨™ç±¤ç´¢å¼•ã€è‡ªå‹•å°é½Šå’Œæ•´åˆçš„æ•¸æ“šè™•ç†æ–¹æ³•
- Series å¯è¦–ç‚º DataFrame çš„æ§‹å»ºå¡Šï¼Œè¨±å¤š DataFrame æ–¹æ³•åœ¨ Series ä¸Šä¹Ÿé©ç”¨
- é€™äº›æ•¸æ“šçµæ§‹çš„è¨­è¨ˆç†å¿µå½±éŸ¿äº†ç¾ä»£æ•¸æ“šåˆ†æå·¥å…·çš„ç™¼å±•


### 5.2 å¸¸ç”¨æŠ€å·§


- ä½¿ç”¨ `.loc[]` å’Œ `.iloc[]` é€²è¡Œæ›´ç²¾ç¢ºçš„æ•¸æ“šé¸æ“‡
- å……åˆ†åˆ©ç”¨æ¢ä»¶éæ¿¾ç°¡åŒ–è¤‡é›œçš„æ•¸æ“šç¯©é¸é‚è¼¯
- ä½¿ç”¨ `describe()` å¿«é€Ÿäº†è§£æ•¸æ“šçš„çµ±è¨ˆç‰¹æ€§
- ç†Ÿæ‚‰ Series å’Œ DataFrame ä¹‹é–“çš„äº’æ“ä½œ

è§£èªªï¼š
- `.loc[]` å’Œ `.iloc[]` åˆ†åˆ¥æä¾›åŸºæ–¼æ¨™ç±¤å’Œä½ç½®çš„ç²¾ç¢ºç´¢å¼•ï¼Œé¿å…æ··æ·†å’Œæ­§ç¾©
- æ¢ä»¶éæ¿¾å…è¨±ç°¡æ½”åœ°è¡¨é”é¸æ“‡æ¢ä»¶ï¼Œä¾‹å¦‚ `df[df['Age'] > 30]`
- `describe()` æä¾›å¿«é€Ÿçµ±è¨ˆæ¦‚è¦½ï¼Œå¹«åŠ©è­˜åˆ¥æ•¸æ“šç‰¹å¾µå’Œåˆ†å¸ƒ
- äº†è§£ä½•æ™‚ä½¿ç”¨ Series èˆ‡ DataFrameï¼Œä»¥åŠå¦‚ä½•åœ¨å…©è€…ä¹‹é–“è½‰æ›ï¼Œå¯ä»¥å¤§å¤§æé«˜åˆ†æéˆæ´»æ€§
- æŒæ¡é€™äº›æŠ€å·§å¯ä»¥ä½¿ä»£ç¢¼æ›´ç°¡æ½”ã€æ›´é«˜æ•ˆï¼Œä¸¦æä¾›æ›´æ·±å…¥çš„æ•¸æ“šæ´å¯Ÿ


### 5.3 ä¸‹ä¸€æ­¥å­¸ç¿’


- æ¢ç´¢æ›´å¤šDataFrameå’ŒSeriesçš„é¸å–æ–¹æ³•
- å­¸ç¿’è™•ç†ç¼ºå¤±æ•¸æ“šå’Œæ•¸æ“šé¡å‹è½‰æ›
- äº†è§£å¦‚ä½•è®€å–å’Œå¯«å…¥ä¸åŒæ ¼å¼çš„æ–‡ä»¶
- é€²éšæ•¸æ“šæ¸…æ´—å’Œé è™•ç†æŠ€è¡“
- æ•¸æ“šåˆ†çµ„å’Œèšåˆæ“ä½œ

è§£èªªï¼š
- Pandasæä¾›äº†è±å¯Œçš„æ•¸æ“šè™•ç†åŠŸèƒ½ï¼Œæœ¬èª²ç¨‹åªæ˜¯å…¥é–€
- éš¨è‘—æ‚¨çš„æŠ€èƒ½æå‡ï¼Œå¯ä»¥æ¢ç´¢æ›´å¤šPandasçš„é€²éšåŠŸèƒ½
- å¯¦éš›é …ç›®ç¶“é©—æ˜¯éå›ºé€™äº›æŠ€èƒ½çš„æœ€ä½³æ–¹å¼ï¼Œå»ºè­°çµåˆçœŸå¯¦æ•¸æ“šé›†é€²è¡Œç·´ç¿’
- ä¸‹ä¸€èª²æˆ‘å€‘å°‡å­¸ç¿’å¦‚ä½•ä½¿ç”¨Pandasé€²è¡Œæ›´è©³ç´°çš„æ•¸æ“šé¸å–å’Œç´¢å¼•æ“ä½œ