
## ğŸ“˜ M2.3 Pandas æª”æ¡ˆè®€å¯«åŸºç¤

æœ¬èª²ç¨‹å°‡ä»‹ç´¹ Pandas ä¸­è®€å–å’Œå¯«å…¥å„ç¨®æª”æ¡ˆæ ¼å¼çš„åŸºæœ¬æ–¹æ³•ã€‚æŒæ¡é€™äº›æ“ä½œæ˜¯æ•¸æ“šåˆ†æçš„ç¬¬ä¸€æ­¥ï¼Œå¯ä»¥å¹«åŠ©æ‚¨å¿«é€ŸåŒ¯å…¥å’ŒåŒ¯å‡ºæ•¸æ“šã€‚


### ğŸ¯ æ•™å­¸ç›®æ¨™

- ğŸ” äº†è§£ Pandas æ”¯æ´çš„å¸¸è¦‹æª”æ¡ˆæ ¼å¼
- ğŸ“¥ æŒæ¡è®€å– CSVã€Excel å’Œ JSON æª”æ¡ˆçš„åŸºæœ¬æ–¹æ³•
- ğŸ“¤ å­¸ç¿’å¦‚ä½•å°‡ DataFrame å°å‡ºç‚ºä¸åŒæ ¼å¼
- ğŸ”‘ äº†è§£åŸºæœ¬ç´¢å¼•æ“ä½œèˆ‡æª”æ¡ˆè®€å¯«çš„é—œä¿‚

### ğŸ§° ç’°å¢ƒè¨­ç½®

In [1]:
import numpy as np
import pandas as pd
import os

# è¨­ç½®é¡¯ç¤ºé¸é …
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 80)
pd.set_option('display.precision', 3)

# è¨­ç½®æ•¸æ“šæ–‡ä»¶è·¯å¾‘
data_dir = os.path.join('..', 'data')


### ğŸ“Š 1. CSV æª”æ¡ˆçš„è®€å¯«

CSV (Comma-Separated Values) æª”æ¡ˆæ˜¯æ•¸æ“šäº¤æ›çš„æœ€å¸¸è¦‹æ ¼å¼ä¹‹ä¸€ï¼Œå¹¾ä¹æ‰€æœ‰æ•¸æ“šå·¥å…·éƒ½æ”¯æ´é€™ç¨®æ ¼å¼ã€‚

In [2]:
# 1.1 è®€å– titanic.csv æ•¸æ“šé›†
titanic_file = os.path.join(data_dir, 'titanic.csv')
titanic_data = pd.read_csv(titanic_file)

print(f"Titanic æ•¸æ“šé›† (å…± {titanic_data.shape[0]} è¡Œ, {titanic_data.shape[1]} åˆ—):")
print(titanic_data.head())

Titanic æ•¸æ“šé›† (å…± 891 è¡Œ, 12 åˆ—):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  ...  Parch  \
0                            Braund, Mr. Owen Harris    male  ...      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  ...      0
2                             Heikkinen, Miss. Laina  female  ...      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  ...      0
4                           Allen, Mr. William Henry    male  ...      0

             Ticket    Fare Cabin  Embarked
0         A/5 21171   7.250   NaN         S
1          PC 17599  71.283   C85         C
2  STON/O2. 3101282   7.925   NaN         S
3            113803  53.100  C123         S
4            373450   8.050   NaN         S

[5 rows x 12 columns]

In [3]:
# 1.2 æŸ¥çœ‹æ•¸æ“šçš„åŸºæœ¬ä¿¡æ¯
print("Titanic æ•¸æ“šé›†çš„åŸºæœ¬ä¿¡æ¯:")
print(titanic_data.info())

print("\nTitanic æ•¸æ“šé›†çš„çµ±è¨ˆæ‘˜è¦:")
print(titanic_data.describe())

Titanic æ•¸æ“šé›†çš„åŸºæœ¬ä¿¡æ¯:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Titanic æ•¸æ“šé›†çš„çµ±è¨ˆæ‘˜è¦:
       PassengerId  Survived   Pclass      Age    SibSp    Parch     Fare
count      891.000   891.000  891.000  714.000  891.000  891.000  891.000
mean       446.000     0.384    2.309   29.699    0.523    0.382   32.204
std        257.354     0.487    0.836   14.526    1.103    0.806   49.693
min          1.000     0.000    1.000    0.420    0.000    0.000    0.000
25%        223.500     0.000    2.000   20.125    0.000    0.000    7.910
50%        446.000     0.000    3.000   28.000    0.000    0.000   14.454
75%        668.500     1.000    3.000   38.000    1.000    0.000   31.000
max        891.000     1.000    3.000   80.000    8.000    6.000  512.329

In [4]:
# 1.3 ä¿å­˜éƒ¨åˆ† Titanic æ•¸æ“šç‚ºæ–°çš„ CSV æ–‡ä»¶
# é¸æ“‡å¹¾å€‹é—œéµåˆ—ä¿å­˜
titanic_subset = titanic_data[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Fare']]
titanic_subset.to_csv('titanic_subset.csv', index=False)
print("å·²å°‡ Titanic å­é›†ä¿å­˜åˆ° titanic_subset.csv")

# 1.4 ä½¿ç”¨ä¸åŒåƒæ•¸ä¿å­˜ CSV
titanic_subset.to_csv('titanic_formatted.csv', index=False, 
                    float_format='%.2f',  # æ ¼å¼åŒ–æµ®é»æ•¸ç‚ºå…©ä½å°æ•¸
                    na_rep='MISSING')     # å°‡ç¼ºå¤±å€¼è¡¨ç¤ºç‚º "MISSING"
print("å·²å°‡æ ¼å¼åŒ–çš„ Titanic å­é›†ä¿å­˜åˆ° titanic_formatted.csv")

å·²å°‡ Titanic å­é›†ä¿å­˜åˆ° titanic_subset.csv
å·²å°‡æ ¼å¼åŒ–çš„ Titanic å­é›†ä¿å­˜åˆ° titanic_formatted.csv

In [5]:
# 1.5 è®€å–ä¿å­˜çš„ CSV æ–‡ä»¶
read_back = pd.read_csv('titanic_subset.csv')
print("å¾ CSV è®€å–çš„æ•¸æ“š (å‰ 5 è¡Œ):")
print(read_back.head())

å¾ CSV è®€å–çš„æ•¸æ“š (å‰ 5 è¡Œ):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age    Fare
0                            Braund, Mr. Owen Harris    male  22.0   7.250
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.283
2                             Heikkinen, Miss. Laina  female  26.0   7.925
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.100
4                           Allen, Mr. William Henry    male  35.0   8.050

è§£èªª:
- CSV æ˜¯æœ€å¸¸ç”¨çš„æ•¸æ“šäº¤æ›æ ¼å¼ï¼Œæ–‡æœ¬æ ¼å¼ä¸”å®¹æ˜“é–±è®€
- `read_csv()` ç”¨æ–¼å¾ CSV æª”æ¡ˆè®€å–æ•¸æ“šï¼Œè¿”å› DataFrame
- `to_csv()` æ–¹æ³•å¯ä»¥å°‡ DataFrame ä¿å­˜ç‚º CSV æª”æ¡ˆ
- è¨­ç½® `index=False` å¯ä»¥é¿å…å°‡è¡Œç´¢å¼•ä¿å­˜åˆ° CSV
- å¯é€šé `float_format` æ§åˆ¶æ•¸å€¼æ ¼å¼ï¼Œ`na_rep` è¨­ç½®ç¼ºå¤±å€¼çš„è¡¨ç¤º
- å°æ–¼åŸºæœ¬çš„æ•¸æ“šäº¤æ›ï¼ŒCSV æ˜¯æœ€ç°¡å–®ä¸”å…¼å®¹æ€§æœ€å¥½çš„é¸æ“‡


### ğŸ“Š 2. è®€å–å…¶ä»– CSV æ•¸æ“šé›†

In [6]:
# 2.1 è®€å– air-quality.csv æ•¸æ“šé›†
air_quality_file = os.path.join(data_dir, 'air-quality.csv')
air_quality = pd.read_csv(air_quality_file)

print(f"ç©ºæ°£è³ªé‡æ•¸æ“šé›† (å…± {air_quality.shape[0]} è¡Œ, {air_quality.shape[1]} åˆ—):")
print(air_quality.head())

# 2.2 æª¢æŸ¥ç©ºæ°£è³ªé‡æ•¸æ“šçš„æ•¸æ“šé¡å‹
print("\nç©ºæ°£è³ªé‡æ•¸æ“šçš„æ•¸æ“šé¡å‹:")
print(air_quality.dtypes)

ç©ºæ°£è³ªé‡æ•¸æ“šé›† (å…± 153 è¡Œ, 5 åˆ—):
         Date  Ozone  Solar  Wind  Temp
0  1976-05-01   41.0  190.0   7.4    67
1  1976-05-02   36.0  118.0   8.0    72
2  1976-05-03   12.0  149.0  12.6    74
3  1976-05-04   18.0  313.0  11.5    62
4  1976-05-05    NaN    NaN  14.3    56

ç©ºæ°£è³ªé‡æ•¸æ“šçš„æ•¸æ“šé¡å‹:
Date      object
Ozone    float64
Solar    float64
Wind     float64
Temp       int64
dtype: object

In [7]:
# 2.3 è®€å– pima-indians-diabetes.csv æ•¸æ“šé›†
diabetes_file = os.path.join(data_dir, 'pima-indians-diabetes.csv')
diabetes = pd.read_csv(diabetes_file)

print(f"ç³–å°¿ç—…æ•¸æ“šé›† (å…± {diabetes.shape[0]} è¡Œ, {diabetes.shape[1]} åˆ—):")
print(diabetes.head())

# æª¢æŸ¥æ˜¯å¦æœ‰ç¼ºå¤±å€¼ (NaN)
print("\nç³–å°¿ç—…æ•¸æ“šé›†ä¸­æ¯åˆ—çš„ç¼ºå¤±å€¼æ•¸é‡:")
print(diabetes.isna().sum())

ç³–å°¿ç—…æ•¸æ“šé›† (å…± 768 è¡Œ, 9 åˆ—):
   Pregnant  Glucose  Diastolic_BP Skin_Fold  Serum_Insulin   BMI  \
0         6    129.0          90.0         7          326.0  19.6
1        12     92.0          62.0         7          258.0  27.6
2         1     90.0          68.0         8            NaN  24.5
3         1    109.0          60.0         8          182.0  25.4
4         1     73.0          50.0        10            NaN  23.0

   Diabetes_Pedigree  Age  Class
0              0.582   60      0
1              0.926   44      1
2              1.138   36      0
3              0.947   21      0
4              0.248   21      0

ç³–å°¿ç—…æ•¸æ“šé›†ä¸­æ¯åˆ—çš„ç¼ºå¤±å€¼æ•¸é‡:
Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold              0
Serum_Insulin        374
BMI                    0
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [8]:
# 2.4 ä½¿ç”¨æ›´å¤š read_csv åƒæ•¸
# å‡è¨­ pima-indians-diabetes.csv çš„ç¬¬ä¸€è¡Œä¸æ˜¯æ¨™é¡Œ
diabetes_no_header = pd.read_csv(diabetes_file, header=None, 
                               names=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 
                                      'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'])

print("ä½¿ç”¨è‡ªå®šç¾©åˆ—åè®€å–ç³–å°¿ç—…æ•¸æ“šé›†:")
print(diabetes_no_header.head())

# ä½¿ç”¨ skiprows åƒæ•¸è·³éå‰ 5 è¡Œ
diabetes_skip = pd.read_csv(diabetes_file, skiprows=5)
print("\nè·³éå‰ 5 è¡Œè®€å–ç³–å°¿ç—…æ•¸æ“šé›†:")
print(diabetes_skip.head())

ä½¿ç”¨è‡ªå®šç¾©åˆ—åè®€å–ç³–å°¿ç—…æ•¸æ“šé›†:
  Pregnancies  Glucose BloodPressure SkinThickness        Insulin   BMI  \
0    Pregnant  Glucose  Diastolic_BP     Skin_Fold  Serum_Insulin   BMI
1           6      129            90             7            326  19.6
2          12       92            62             7            258  27.6
3           1       90            68             8            NaN  24.5
4           1      109            60             8            182  25.4

  DiabetesPedigreeFunction  Age Outcome
0        Diabetes_Pedigree  Age   Class
1                    0.582   60       0
2                    0.926   44       1
3                    1.138   36       0
4                    0.947   21       0

è·³éå‰ 5 è¡Œè®€å–ç³–å°¿ç—…æ•¸æ“šé›†:
   1     73    50  10  Unnamed: 4    23  0.248  21  0
0  2  108.0  62.0  10       278.0  25.3  0.881  22  0
1  1   99.0  58.0  10         NaN  25.4  0.551  21  0
2  0   74.0  52.0  10        36.0  27.8  0.269  22  0
3  3  113.0  50.0  10        85.0  29.5  0.626  25  0
4  3   99.0  80.0  11        64.0  19.3  0.284  30  0

è§£èªª:
- Pandas çš„ `read_csv()` å‡½æ•¸æœ‰è¨±å¤šåƒæ•¸å¯ä»¥æ§åˆ¶è®€å–è¡Œç‚º
- `header=None` è¡¨ç¤ºæ–‡ä»¶æ²’æœ‰æ¨™é¡Œè¡Œï¼Œå¯ä»¥é€šé `names` åƒæ•¸æä¾›åˆ—å
- `skiprows` åƒæ•¸å¯ä»¥è·³éæŒ‡å®šæ•¸é‡çš„è¡Œæˆ–ç‰¹å®šè¡Œ
- å…¶ä»–å¸¸ç”¨åƒæ•¸åŒ…æ‹¬ `sep`ï¼ˆåˆ†éš”ç¬¦ï¼‰ã€`dtype`ï¼ˆæŒ‡å®šåˆ—çš„æ•¸æ“šé¡å‹ï¼‰
- éˆæ´»é‹ç”¨é€™äº›åƒæ•¸å¯ä»¥è™•ç†å„ç¨®æ ¼å¼çš„ CSV æ–‡ä»¶


### ğŸ“Š 3. Excel æª”æ¡ˆçš„è®€å¯«

Excel æª”æ¡ˆåœ¨å•†æ¥­ç’°å¢ƒä¸­éå¸¸æ™®éï¼ŒPandas æä¾›äº†èˆ‡ Excel é€²è¡Œäº¤äº’çš„åŠŸèƒ½ã€‚

In [9]:
# 3.1 å°‡æ•¸æ“šä¿å­˜ç‚º Excel æª”æ¡ˆ
titanic_subset.to_excel('titanic_subset.xlsx', sheet_name='Titanic', index=False)
print("å·²å°‡ Titanic å­é›†ä¿å­˜åˆ° Excel æ–‡ä»¶")

# 3.2 å‰µå»ºå¤šå€‹å·¥ä½œè¡¨çš„ Excel æª”æ¡ˆ
with pd.ExcelWriter('multiple_datasets.xlsx') as writer:
    titanic_subset.to_excel(writer, sheet_name='Titanic', index=False)
    air_quality.to_excel(writer, sheet_name='Air Quality', index=False)
    diabetes.to_excel(writer, sheet_name='Diabetes', index=False)

print("å·²å‰µå»ºåŒ…å«å¤šå€‹æ•¸æ“šé›†çš„ Excel æª”æ¡ˆ")

å·²å°‡ Titanic å­é›†ä¿å­˜åˆ° Excel æ–‡ä»¶
å·²å‰µå»ºåŒ…å«å¤šå€‹æ•¸æ“šé›†çš„ Excel æª”æ¡ˆ

In [10]:
# 3.3 å¾ Excel æª”æ¡ˆè®€å–æ•¸æ“š
excel_data = pd.read_excel('titanic_subset.xlsx')
print("å¾ Excel è®€å–çš„ Titanic æ•¸æ“š:")
print(excel_data.head())

# 3.4 è®€å–ç‰¹å®šå·¥ä½œè¡¨
multi_excel_data = pd.read_excel('multiple_datasets.xlsx', sheet_name='Air Quality')
print("\nå¾å¤šå·¥ä½œè¡¨ Excel è®€å–çš„ç©ºæ°£è³ªé‡æ•¸æ“š:")
print(multi_excel_data.head())

# 3.5 è®€å–æ‰€æœ‰å·¥ä½œè¡¨
all_sheets = pd.read_excel('multiple_datasets.xlsx', sheet_name=None)
print("\nExcel æª”æ¡ˆä¸­çš„æ‰€æœ‰å·¥ä½œè¡¨:")
for sheet_name, sheet_data in all_sheets.items():
    print(f"- {sheet_name}: {len(sheet_data)} è¡Œ, {len(sheet_data.columns)} åˆ—")

å¾ Excel è®€å–çš„ Titanic æ•¸æ“š:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age    Fare
0                            Braund, Mr. Owen Harris    male  22.0   7.250
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.283
2                             Heikkinen, Miss. Laina  female  26.0   7.925
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.100
4                           Allen, Mr. William Henry    male  35.0   8.050

å¾å¤šå·¥ä½œè¡¨ Excel è®€å–çš„ç©ºæ°£è³ªé‡æ•¸æ“š:
         Date  Ozone  Solar  Wind  Temp
0  1976-05-01   41.0  190.0   7.4    67
1  1976-05-02   36.0  118.0   8.0    72
2  1976-05-03   12.0  149.0  12.6    74
3  1976-05-04   18.0  313.0  11.5    62
4  1976-05-05    NaN    NaN  14.3    56

Excel æª”æ¡ˆä¸­çš„æ‰€æœ‰å·¥ä½œè¡¨:
- Titanic: 891 è¡Œ, 7 åˆ—
- Air Quality: 153 è¡Œ, 5 åˆ—
- Diabetes: 768 è¡Œ, 9 åˆ—

è§£èªª:
- Excel æª”æ¡ˆå¯ä»¥åŒ…å«å¤šå€‹å·¥ä½œè¡¨ï¼Œé©åˆçµ„ç¹”ç›¸é—œçš„æ•¸æ“š
- `to_excel()` æ–¹æ³•å°‡ DataFrame ä¿å­˜ç‚º Excel æª”æ¡ˆ
- ä½¿ç”¨ `ExcelWriter` å¯ä»¥å‰µå»ºåŒ…å«å¤šå€‹å·¥ä½œè¡¨çš„ Excel æª”æ¡ˆ
- `read_excel()` ç”¨æ–¼è®€å– Excel æª”æ¡ˆçš„æ•¸æ“š
- ä½¿ç”¨ `sheet_name` åƒæ•¸å¯ä»¥æŒ‡å®šè®€å–ç‰¹å®šå·¥ä½œè¡¨
- è¨­ç½® `sheet_name=None` å°‡è®€å–æ‰€æœ‰å·¥ä½œè¡¨ï¼Œè¿”å›å­—å…¸
- èˆ‡ CSV ç›¸æ¯”ï¼ŒExcel æ”¯æŒæ›´è±å¯Œçš„æ ¼å¼å’Œå¤šå·¥ä½œè¡¨ï¼Œä½†æ–‡ä»¶å¤§å°é€šå¸¸æ›´å¤§


### ğŸ“Š 4. JSON æª”æ¡ˆçš„è®€å¯«

JSON (JavaScript Object Notation) æ˜¯ä¸€ç¨®è¼•é‡ç´šçš„æ•¸æ“šäº¤æ›æ ¼å¼ï¼Œå»£æ³›ç”¨æ–¼ Web æ‡‰ç”¨å’Œ APIã€‚

In [11]:
# 4.1 å°‡ DataFrame è½‰æ›ç‚º JSON å­—ç¬¦ä¸²
json_str = titanic_subset.head().to_json()
print("DataFrame è½‰æ›ç‚º JSON å­—ç¬¦ä¸²:")
print(json_str[:200] + "...") # åªé¡¯ç¤ºå‰200å€‹å­—ç¬¦

# 4.2 å¯«å…¥ JSON æª”æ¡ˆ
titanic_subset.head(20).to_json('titanic_subset.json')
print("\nå·²å°‡ Titanic å­é›†ä¿å­˜åˆ° titanic_subset.json")

# 4.3 å¯«å…¥æ ¼å¼åŒ–çš„ JSON æª”æ¡ˆ
titanic_subset.head(20).to_json('titanic_pretty.json', orient='records', indent=4)
print("å·²å°‡ Titanic å­é›†ä¿å­˜åˆ°æ˜“è®€æ ¼å¼çš„ titanic_pretty.json")

DataFrame è½‰æ›ç‚º JSON å­—ç¬¦ä¸²:
{"PassengerId":{"0":1,"1":2,"2":3,"3":4,"4":5},"Survived":{"0":0,"1":1,"2":1,"3":1,"4":0},"Pclass":{"0":3,"1":1,"2":3,"3":1,"4":3},"Name":{"0":"Braund, Mr. Owen Harris","1":"Cumings, Mrs. John Bradley...

å·²å°‡ Titanic å­é›†ä¿å­˜åˆ° titanic_subset.json
å·²å°‡ Titanic å­é›†ä¿å­˜åˆ°æ˜“è®€æ ¼å¼çš„ titanic_pretty.json

In [12]:
# 4.4 å¾ JSON æª”æ¡ˆè®€å–æ•¸æ“š
df_from_json = pd.read_json('titanic_subset.json')
print("å¾ JSON è®€å–çš„æ•¸æ“š:")
print(df_from_json.head())

# 4.5 å¾æ ¼å¼åŒ–çš„ JSON æª”æ¡ˆè®€å–
df_from_pretty_json = pd.read_json('titanic_pretty.json', orient='records')
print("\nå¾æ ¼å¼åŒ– JSON è®€å–çš„æ•¸æ“š:")
print(df_from_pretty_json.head())

å¾ JSON è®€å–çš„æ•¸æ“š:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age    Fare
0                            Braund, Mr. Owen Harris    male  22.0   7.250
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.283
2                             Heikkinen, Miss. Laina  female  26.0   7.925
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.100
4                           Allen, Mr. William Henry    male  35.0   8.050

å¾æ ¼å¼åŒ– JSON è®€å–çš„æ•¸æ“š:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age    Fare
0                            Braund, Mr. Owen Harris    male  22.0   7.250
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.283
2                             Heikkinen, Miss. Laina  female  26.0   7.925
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.100
4                           Allen, Mr. William Henry    male  35.0   8.050

è§£èªª:
- JSON æ˜¯ Web å’Œ API ä¸­å¸¸ç”¨çš„æ•¸æ“šäº¤æ›æ ¼å¼
- `to_json()` æ–¹æ³•å°‡ DataFrame è½‰æ›ç‚º JSON æ ¼å¼
- `orient` åƒæ•¸å®šç¾©äº† JSON çš„çµæ§‹ï¼Œ'records' ä½¿æ¯è¡Œæˆç‚ºå–®ç¨çš„å°è±¡
- `indent` åƒæ•¸ä½¿ JSON æ›´æ˜“è®€ï¼Œä½†æœƒå¢åŠ æ–‡ä»¶å¤§å°
- `read_json()` ç”¨æ–¼å¾ JSON è®€å–æ•¸æ“šåˆ° DataFrame
- JSON éå¸¸é©åˆèˆ‡ Web æ‡‰ç”¨å’Œ API é›†æˆï¼Œä½†å°æ–¼å¤§å‹æ•¸æ“šé›†å¯èƒ½æ•ˆç‡è¼ƒä½


### ğŸ“Š 5. åŸºæœ¬ç´¢å¼•æ“ä½œ

ç´¢å¼•æ˜¯ Pandas çš„é‡è¦ç‰¹æ€§ï¼Œå¯ä»¥é¡¯è‘—å½±éŸ¿æ•¸æ“šè®€å¯«å’Œå¾ŒçºŒè™•ç†ã€‚

In [13]:
# 5.1 è¨­ç½®ç´¢å¼•
titanic_with_id_index = titanic_subset.set_index('PassengerId')
print("ä½¿ç”¨ PassengerId ä½œç‚ºç´¢å¼•çš„ Titanic æ•¸æ“š:")
print(titanic_with_id_index.head())

# 5.2 ä¿å­˜èˆ‡åŠ è¼‰å¸¶ç´¢å¼•çš„æª”æ¡ˆ
titanic_with_id_index.to_csv('titanic_with_index.csv')
loaded_df = pd.read_csv('titanic_with_index.csv', index_col=0)
print("\nè®€å–å¸¶ç´¢å¼•çš„ CSV:")
print(loaded_df.head())

# 5.3 é‡è¨­ç´¢å¼•
reset_index_df = titanic_with_id_index.reset_index()
print("\né‡è¨­ç´¢å¼•å¾Œçš„ DataFrame:")
print(reset_index_df.head())

ä½¿ç”¨ PassengerId ä½œç‚ºç´¢å¼•çš„ Titanic æ•¸æ“š:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

               Fare
PassengerId
1             7.250
2            71.283
3             7.925
4            53.100
5             8.050

è®€å–å¸¶ç´¢å¼•çš„ CSV:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

               Fare
PassengerId
1             7.250
2            71.283
3             7.925
4            53.100
5             8.050

é‡è¨­ç´¢å¼•å¾Œçš„ DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age    Fare
0                            Braund, Mr. Owen Harris    male  22.0   7.250
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.283
2                             Heikkinen, Miss. Laina  female  26.0   7.925
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.100
4                           Allen, Mr. William Henry    male  35.0   8.050

In [14]:
# 5.4 è¨­ç½®å¤šç´šç´¢å¼•
# ä½¿ç”¨ Pclass å’Œ Sex ä½œç‚ºå¤šç´šç´¢å¼•
multi_index_df = titanic_subset.set_index(['Pclass', 'Sex'])
print("ä½¿ç”¨å¤šç´šç´¢å¼•çš„ Titanic æ•¸æ“š:")
print(multi_index_df.head())

# 5.5 ä¿å­˜èˆ‡åŠ è¼‰å¸¶å¤šç´šç´¢å¼•çš„æª”æ¡ˆ
multi_index_df.to_csv('titanic_multi_index.csv')
loaded_multi_index = pd.read_csv('titanic_multi_index.csv', index_col=[0, 1])
print("\nè®€å–å¸¶å¤šç´šç´¢å¼•çš„ CSV:")
print(loaded_multi_index.head())

ä½¿ç”¨å¤šç´šç´¢å¼•çš„ Titanic æ•¸æ“š:
               PassengerId  Survived  \
Pclass Sex
3      male              1         0
1      female            2         1
3      female            3         1
1      female            4         1
3      male              5         0

                                                            Name   Age    Fare
Pclass Sex
3      male                              Braund, Mr. Owen Harris  22.0   7.250
1      female  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.283
3      female                             Heikkinen, Miss. Laina  26.0   7.925
1      female       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.100
3      male                             Allen, Mr. William Henry  35.0   8.050

è®€å–å¸¶å¤šç´šç´¢å¼•çš„ CSV:
               PassengerId  Survived  \
Pclass Sex
3      male              1         0
1      female            2         1
3      female            3         1
1      female            4         1
3      male              5         0

                                                            Name   Age    Fare
Pclass Sex
3      male                              Braund, Mr. Owen Harris  22.0   7.250
1      female  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.283
3      female                             Heikkinen, Miss. Laina  26.0   7.925
1      female       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.100
3      male                             Allen, Mr. William Henry  35.0   8.050

è§£èªª:
- `set_index()` æ–¹æ³•å°‡ DataFrame çš„ä¸€åˆ—æˆ–å¤šåˆ—è¨­ç‚ºç´¢å¼•
- ä½¿ç”¨ç´¢å¼•å¯ä»¥æ›´å¿«é€Ÿåœ°æŸ¥æ‰¾å’Œé¸æ“‡æ•¸æ“š
- ä¿å­˜æª”æ¡ˆæ™‚ï¼Œç´¢å¼•æœƒé»˜èªä¸€èµ·ä¿å­˜
- è®€å–æª”æ¡ˆæ™‚ï¼Œå¯ä»¥ä½¿ç”¨ `index_col` æŒ‡å®šç´¢å¼•åˆ—
- `reset_index()` å°‡ç´¢å¼•è½‰æ›å›æ™®é€šåˆ—
- å¤šç´šç´¢å¼•å¯ä»¥æä¾›æ›´éˆæ´»çš„æ•¸æ“šçµæ§‹ï¼Œä½†å¯èƒ½å¢åŠ è¤‡é›œæ€§
- é©ç•¶çš„ç´¢å¼•è¨­ç½®å¯ä»¥æ›´å®¹æ˜“åœ°è™•ç†æ™‚é–“åºåˆ—å’Œåˆ†å±¤æ•¸æ“š


### ğŸ“‹ 6. ç¸½çµ


#### 6.1 æª”æ¡ˆè®€å¯«åŠŸèƒ½æ¦‚è¦½

- **CSV æª”æ¡ˆ**:
  - è®€å–: `pd.read_csv()`
  - å¯«å…¥: `df.to_csv()`
  - å„ªé»: ç°¡å–®, é€šç”¨, æ–‡æœ¬æ ¼å¼
  - ç¼ºé»: ä¸æ”¯æŒå¤šå·¥ä½œè¡¨, ä¸ä¿ç•™æ ¼å¼
  
- **Excel æª”æ¡ˆ**:
  - è®€å–: `pd.read_excel()`
  - å¯«å…¥: `df.to_excel()`
  - å„ªé»: æ”¯æŒå¤šå·¥ä½œè¡¨, ä¿ç•™æ ¼å¼
  - ç¼ºé»: æ–‡ä»¶è¼ƒå¤§, éœ€è¦é¡å¤–å¥—ä»¶
  
- **JSON æª”æ¡ˆ**:
  - è®€å–: `pd.read_json()`
  - å¯«å…¥: `df.to_json()`
  - å„ªé»: Webå‹å¥½, æ”¯æŒåµŒå¥—çµæ§‹
  - ç¼ºé»: å¯èƒ½è¼ƒå¤§, è¤‡é›œçµæ§‹é›£è™•ç†


#### 6.2 æª”æ¡ˆè®€å¯«æ³¨æ„äº‹é …

- è®€å–å‰ç¢ºèªæª”æ¡ˆå­˜åœ¨ä¸¦å¯è¨ªå•
- æ³¨æ„æ–‡ä»¶ç·¨ç¢¼ (ç‰¹åˆ¥æ˜¯è™•ç†éè‹±æ–‡å­—ç¬¦)
- æª¢æŸ¥æ˜¯å¦éœ€è¦ä¿å­˜æˆ–è®€å–ç´¢å¼•
- é¸æ“‡é©åˆæ•¸æ“šç‰¹æ€§å’Œä½¿ç”¨å ´æ™¯çš„æª”æ¡ˆæ ¼å¼
- è™•ç†å¤§å‹æª”æ¡ˆæ™‚è€ƒæ…®åˆ†æ‰¹è®€å–


#### 6.3 ä¸‹ä¸€æ­¥å­¸ç¿’

- å­¸ç¿’è™•ç†æ›´å¤šæª”æ¡ˆæ ¼å¼ (SQL, HDF5, Parquetç­‰)
- æ¢ç´¢æ›´å¤šè®€å¯«åƒæ•¸ä»¥è™•ç†è¤‡é›œæƒ…æ³
- ç†è§£å¦‚ä½•è™•ç†ç¼ºå¤±å€¼å’Œä¸åŒæ•¸æ“šé¡å‹
- å­¸ç¿’æ•¸æ“šæ¸…æ´—å’Œæº–å‚™æŠ€è¡“
- æŒæ¡å¤§å‹æª”æ¡ˆçš„é«˜æ•ˆè®€å¯«æ–¹æ³•