
## ğŸ“˜ M2.2 Pandas åŸºç¤è³‡æ–™é¸å–èˆ‡ç´¢å¼•

æœ¬æ•™å­¸å°‡ä»‹ç´¹ Pandas ä¸­ç”¨æ–¼é¸å–å’Œç´¢å¼•æ•¸æ“šçš„åŸºæœ¬æ–¹æ³•ï¼Œé€™äº›æ˜¯æ•¸æ“šåˆ†æçš„æ ¸å¿ƒæŠ€èƒ½ã€‚
æˆ‘å€‘å°‡å¾ç°¡å–®çš„åˆ—å’Œè¡Œé¸å–é–‹å§‹ï¼Œç„¶å¾Œå­¸ç¿’æ›´ç²¾ç¢ºçš„ç´¢å¼•æŠ€è¡“ï¼Œå¹«åŠ©æ‚¨å¾æ•¸æ“šä¸­æå–æ‰€éœ€ä¿¡æ¯ã€‚


### ğŸ¯ æ•™å­¸ç›®æ¨™

- ğŸ” äº†è§£é¸å– DataFrame åˆ—å’Œè¡Œçš„åŸºæœ¬æ–¹æ³•
- ğŸ“Œ æŒæ¡ `.loc[]` å’Œ `.iloc[]` çš„åŸºæœ¬ç”¨æ³•
- ğŸ” å­¸ç¿’ç°¡å–®çš„æ¢ä»¶ç¯©é¸æŠ€å·§
- ğŸ’» ç·´ç¿’å¸¸è¦‹çš„æ•¸æ“šé¸å–æ“ä½œ

### ğŸ§° ç’°å¢ƒè¨­ç½®

In [1]:
import numpy as np
import pandas as pd

# è¨­ç½®é¡¯ç¤ºé¸é …
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 80)
pd.set_option('display.precision', 3)


### ğŸ“Š 1. å‰µå»ºç¤ºä¾‹æ•¸æ“š

In [2]:
# å‰µå»ºä¸€å€‹å“¡å·¥æ•¸æ“šçš„ç¤ºä¾‹DataFrame
employees = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105, 106, 107],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing', 'HR', 'Finance'],
    'Salary': [72000, 78000, 83000, 85000, 70000, 75000, 88000],
    'JoinDate': ['2019-05-21', '2018-12-10', '2020-01-15', '2017-08-30', 
                 '2021-03-02', '2019-09-11', '2020-07-28'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F'],
    'Education': ['Masters', 'Bachelors', 'PhD', 'Masters', 'Bachelors', 'Bachelors', 'PhD']
})

# å°‡JoinDateåˆ—è½‰æ›ç‚ºæ—¥æœŸé¡å‹
employees['JoinDate'] = pd.to_datetime(employees['JoinDate'])

print("å“¡å·¥æ•¸æ“šç¤ºä¾‹:")
print(employees)

å“¡å·¥æ•¸æ“šç¤ºä¾‹:
    ID     Name Department  Salary   JoinDate Gender  Education
0  101    Alice         HR   72000 2019-05-21      F    Masters
1  102      Bob         IT   78000 2018-12-10      M  Bachelors
2  103  Charlie    Finance   83000 2020-01-15      M        PhD
3  104    David         IT   85000 2017-08-30      M    Masters
4  105      Eve  Marketing   70000 2021-03-02      F  Bachelors
5  106    Frank         HR   75000 2019-09-11      M  Bachelors
6  107    Grace    Finance   88000 2020-07-28      F        PhD

è§£èªªï¼š
- æˆ‘å€‘å‰µå»ºäº†ä¸€å€‹åŒ…å«7åå“¡å·¥ä¿¡æ¯çš„DataFrameï¼Œæœ‰7åˆ—ä¸åŒçš„å±¬æ€§
- é€™å€‹æ•¸æ“šé›†åŒ…å«äº†ä¸åŒé¡å‹çš„æ•¸æ“šï¼šæ•¸å€¼å‹ã€å­—ç¬¦å‹å’Œæ—¥æœŸå‹
- æˆ‘å€‘å°‡JoinDateåˆ—è½‰æ›ç‚ºæ—¥æœŸé¡å‹ï¼Œä»¥ä¾¿å¾ŒçºŒå¯ä»¥é€²è¡Œæ—¥æœŸç›¸é—œæ“ä½œ
- é€™å€‹ç°¡å–®çš„æ•¸æ“šé›†å°‡ç”¨æ–¼å±•ç¤ºå„ç¨®é¸å–å’Œç´¢å¼•æ–¹æ³•


### ğŸ“‹ 2. åŸºæœ¬åˆ—é¸å–

In [3]:
# 2.1 é¸å–å–®ä¸€åˆ— (è¿”å›Series)
name_column = employees['Name']
print("é¸å–Nameåˆ— (Series):")
print(name_column)
print(f"é¡å‹: {type(name_column)}")

# 2.2 é¸å–å¤šåˆ— (è¿”å›DataFrame)
selected_columns = employees[['Name', 'Department', 'Salary']]
print("\né¸å–å¤šåˆ— (DataFrame):")
print(selected_columns)
print(f"é¡å‹: {type(selected_columns)}")

# 2.3 é¸å–åˆ—çš„å¦ä¸€ç¨®æ–¹æ³• (ä½¿ç”¨é»ç¬¦è™Ÿ)
dept_column = employees.Department
print("\nä½¿ç”¨é»ç¬¦è™Ÿé¸å–Departmentåˆ—:")
print(dept_column)

é¸å–Nameåˆ— (Series):
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
5      Frank
6      Grace
Name: Name, dtype: object
é¡å‹: <class 'pandas.core.series.Series'>

é¸å–å¤šåˆ— (DataFrame):
      Name Department  Salary
0    Alice         HR   72000
1      Bob         IT   78000
2  Charlie    Finance   83000
3    David         IT   85000
4      Eve  Marketing   70000
5    Frank         HR   75000
6    Grace    Finance   88000
é¡å‹: <class 'pandas.core.frame.DataFrame'>

ä½¿ç”¨é»ç¬¦è™Ÿé¸å–Departmentåˆ—:
0           HR
1           IT
2      Finance
3           IT
4    Marketing
5           HR
6      Finance
Name: Department, dtype: object

è§£èªªï¼š
- å–®åˆ—é¸å–: ä½¿ç”¨å–®æ‹¬è™Ÿ `df['åˆ—å']` è¿”å›ä¸€å€‹Serieså°è±¡
- å¤šåˆ—é¸å–: ä½¿ç”¨é›™æ‹¬è™Ÿ `df[['åˆ—å1', 'åˆ—å2']]` åŒ…å«ä¸€å€‹åˆ—ååˆ—è¡¨ï¼Œè¿”å›DataFrame
- é»ç¬¦è™Ÿé¸å–: `df.åˆ—å` é©ç”¨æ–¼ç°¡å–®åˆ—å(ä¸åŒ…å«ç©ºæ ¼æˆ–ç‰¹æ®Šå­—ç¬¦)
- é¸å–åˆ—æ˜¯æ•¸æ“šåˆ†æçš„åŸºæœ¬æ“ä½œï¼Œå¯ä»¥å°ˆæ³¨æ–¼æ„Ÿèˆˆè¶£çš„è®Šé‡


### ğŸ“‹ 3. åŸºæœ¬è¡Œé¸å–

In [4]:
# 3.1 ä½¿ç”¨ç´¢å¼•åˆ‡ç‰‡é¸å–è¡Œ (åŸºæ–¼ä½ç½®)
first_three_rows = employees[0:3]
print("é¸å–å‰ä¸‰è¡Œ:")
print(first_three_rows)

# 3.2 ä½¿ç”¨æ¢ä»¶é¸å–è¡Œ
it_department = employees[employees['Department'] == 'IT']
print("\né¸å–ITéƒ¨é–€çš„å“¡å·¥:")
print(it_department)

high_salary = employees[employees['Salary'] > 80000]
print("\né¸å–è–ªè³‡è¶…é80000çš„å“¡å·¥:")
print(high_salary)

é¸å–å‰ä¸‰è¡Œ:
    ID     Name Department  Salary   JoinDate Gender  Education
0  101    Alice         HR   72000 2019-05-21      F    Masters
1  102      Bob         IT   78000 2018-12-10      M  Bachelors
2  103  Charlie    Finance   83000 2020-01-15      M        PhD

é¸å–ITéƒ¨é–€çš„å“¡å·¥:
    ID   Name Department  Salary   JoinDate Gender  Education
1  102    Bob         IT   78000 2018-12-10      M  Bachelors
3  104  David         IT   85000 2017-08-30      M    Masters

é¸å–è–ªè³‡è¶…é80000çš„å“¡å·¥:
    ID     Name Department  Salary   JoinDate Gender Education
2  103  Charlie    Finance   83000 2020-01-15      M       PhD
3  104    David         IT   85000 2017-08-30      M   Masters
6  107    Grace    Finance   88000 2020-07-28      F       PhD

è§£èªªï¼š
- ä½¿ç”¨åˆ‡ç‰‡ `df[start:end]` å¯ä»¥é¸å–ç‰¹å®šç¯„åœçš„è¡Œ
- åˆ‡ç‰‡éµå¾ªPythonçš„è¦å‰‡ï¼ŒåŒ…å«èµ·å§‹ç´¢å¼•ä½†ä¸åŒ…å«çµæŸç´¢å¼•
- ä½¿ç”¨æ¢ä»¶è¡¨é”å¼ `df[æ¢ä»¶]` å¯ä»¥æ ¹æ“šç‰¹å®šæ¢ä»¶ç¯©é¸è¡Œ
- æ¢ä»¶ç¯©é¸è¿”å›æ‰€æœ‰æ»¿è¶³æ¢ä»¶çš„è¡Œï¼Œæ˜¯æ•¸æ“šåˆ†æä¸­éå¸¸å¯¦ç”¨çš„åŠŸèƒ½


### ğŸ“‹ 4. ä½¿ç”¨ .loc[] å’Œ .iloc[] é€²è¡Œç²¾ç¢ºç´¢å¼•

In [5]:
# 4.1 åŸºæ–¼æ¨™ç±¤çš„ç´¢å¼• (.loc)
# é¸å–IDç‚º105çš„è¡Œ
row_105 = employees.loc[employees['ID'] == 105]
print("é¸å–IDç‚º105çš„è¡Œ:")
print(row_105)

# é¸å–ç´¢å¼•ç‚º2çš„è¡Œ (ç¬¬3è¡Œï¼Œå› ç‚ºç´¢å¼•å¾0é–‹å§‹)
row_2 = employees.loc[2]
print("\né¸å–ç´¢å¼•ç‚º2çš„è¡Œ:")
print(row_2)

# é¸å–ç´¢å¼•2åˆ°4çš„è¡Œå’Œç‰¹å®šåˆ—
subset = employees.loc[2:4, ['Name', 'Department', 'Salary']]
print("\né¸å–ç´¢å¼•2åˆ°4çš„è¡Œå’Œç‰¹å®šåˆ—:")
print(subset)

é¸å–IDç‚º105çš„è¡Œ:
    ID Name Department  Salary   JoinDate Gender  Education
4  105  Eve  Marketing   70000 2021-03-02      F  Bachelors

é¸å–ç´¢å¼•ç‚º2çš„è¡Œ:
ID                            103
Name                      Charlie
Department                Finance
Salary                      83000
JoinDate      2020-01-15 00:00:00
Gender                          M
Education                     PhD
Name: 2, dtype: object

é¸å–ç´¢å¼•2åˆ°4çš„è¡Œå’Œç‰¹å®šåˆ—:
      Name Department  Salary
2  Charlie    Finance   83000
3    David         IT   85000
4      Eve  Marketing   70000

è§£èªªï¼š
- `.loc[]` ç”¨æ–¼åŸºæ–¼æ¨™ç±¤(ç´¢å¼•)çš„é¸å–
- å¯ä»¥ä½¿ç”¨å–®å€‹ç´¢å¼•å€¼ã€ç´¢å¼•ç¯„åœæˆ–ç´¢å¼•åˆ—è¡¨
- å¯ä»¥åŒæ™‚æŒ‡å®šè¡Œå’Œåˆ—ï¼Œæ ¼å¼ç‚º `.loc[è¡Œé¸æ“‡, åˆ—é¸æ“‡]`
- ä½¿ç”¨`.loc[]`æ™‚ï¼Œç´¢å¼•ç¯„åœæ˜¯é–‰å€é–“ï¼Œå³åŒ…å«çµæŸç´¢å¼•

In [6]:
# 4.2 åŸºæ–¼ä½ç½®çš„ç´¢å¼• (.iloc)
# é¸å–ç¬¬ä¸€è¡Œ (ç´¢å¼•ç‚º0)
first_row = employees.iloc[0]
print("é¸å–ç¬¬ä¸€è¡Œ:")
print(first_row)

# é¸å–å‰ä¸‰è¡Œå’Œç¬¬1ã€3ã€5åˆ— (ä½ç½®å¾0é–‹å§‹)
subset_iloc = employees.iloc[0:3, [0, 2, 4]]
print("\né¸å–å‰ä¸‰è¡Œå’Œç¬¬1ã€3ã€5åˆ—:")
print(subset_iloc)

# ä½¿ç”¨è² ç´¢å¼•é¸å–æœ€å¾Œä¸€è¡Œ
last_row = employees.iloc[-1]
print("\né¸å–æœ€å¾Œä¸€è¡Œ:")
print(last_row)

é¸å–ç¬¬ä¸€è¡Œ:
ID                            101
Name                        Alice
Department                     HR
Salary                      72000
JoinDate      2019-05-21 00:00:00
Gender                          F
Education                 Masters
Name: 0, dtype: object

é¸å–å‰ä¸‰è¡Œå’Œç¬¬1ã€3ã€5åˆ—:
    ID Department   JoinDate
0  101         HR 2019-05-21
1  102         IT 2018-12-10
2  103    Finance 2020-01-15

é¸å–æœ€å¾Œä¸€è¡Œ:
ID                            107
Name                        Grace
Department                Finance
Salary                      88000
JoinDate      2020-07-28 00:00:00
Gender                          F
Education                     PhD
Name: 6, dtype: object

è§£èªªï¼š
- `.iloc[]` ç”¨æ–¼åŸºæ–¼ä½ç½®çš„é¸å–ï¼Œèˆ‡Pythonåˆ—è¡¨ç´¢å¼•é¡ä¼¼
- ä½ç½®ç´¢å¼•å¾0é–‹å§‹ï¼Œå¯ä»¥ä½¿ç”¨å–®å€‹ä½ç½®ã€ä½ç½®ç¯„åœæˆ–ä½ç½®åˆ—è¡¨
- å¯ä»¥åŒæ™‚æŒ‡å®šè¡Œå’Œåˆ—çš„ä½ç½®ï¼Œæ ¼å¼ç‚º `.iloc[è¡Œä½ç½®, åˆ—ä½ç½®]`
- ä½¿ç”¨`.iloc[]`æ™‚ï¼Œä½ç½®ç¯„åœæ˜¯åŠé–‹å€é–“ï¼Œå³ä¸åŒ…å«çµæŸä½ç½®
- è² ç´¢å¼•è¡¨ç¤ºå¾æœ«å°¾é–‹å§‹è¨ˆæ•¸ï¼Œ`-1`è¡¨ç¤ºæœ€å¾Œä¸€å€‹å…ƒç´


### ğŸ“‹ 5. ç°¡å–®çš„æ¢ä»¶ç¯©é¸

In [7]:
# 5.1 å–®ä¸€æ¢ä»¶ç¯©é¸
female_employees = employees[employees['Gender'] == 'F']
print("å¥³æ€§å“¡å·¥:")
print(female_employees)

# 5.2 å¤šæ¢ä»¶ç¯©é¸ (ä½¿ç”¨ & å’Œ |)
# &: èˆ‡æ“ä½œï¼Œè¦æ±‚åŒæ™‚æ»¿è¶³å¤šå€‹æ¢ä»¶
hr_female = employees[(employees['Department'] == 'HR') & (employees['Gender'] == 'F')]
print("\nHRéƒ¨é–€çš„å¥³æ€§å“¡å·¥:")
print(hr_female)

# |: æˆ–æ“ä½œï¼Œæ»¿è¶³ä»»ä¸€æ¢ä»¶å³å¯
hr_or_finance = employees[(employees['Department'] == 'HR') | (employees['Department'] == 'Finance')]
print("\nHRæˆ–Financeéƒ¨é–€çš„å“¡å·¥:")
print(hr_or_finance)

# 5.3 ä½¿ç”¨ isin() é€²è¡Œå¤šå€¼åŒ¹é…
selected_depts = employees[employees['Department'].isin(['HR', 'IT'])]
print("\nHRæˆ–ITéƒ¨é–€çš„å“¡å·¥:")
print(selected_depts)

å¥³æ€§å“¡å·¥:
    ID   Name Department  Salary   JoinDate Gender  Education
0  101  Alice         HR   72000 2019-05-21      F    Masters
4  105    Eve  Marketing   70000 2021-03-02      F  Bachelors
6  107  Grace    Finance   88000 2020-07-28      F        PhD

HRéƒ¨é–€çš„å¥³æ€§å“¡å·¥:
    ID   Name Department  Salary   JoinDate Gender Education
0  101  Alice         HR   72000 2019-05-21      F   Masters

HRæˆ–Financeéƒ¨é–€çš„å“¡å·¥:
    ID     Name Department  Salary   JoinDate Gender  Education
0  101    Alice         HR   72000 2019-05-21      F    Masters
2  103  Charlie    Finance   83000 2020-01-15      M        PhD
5  106    Frank         HR   75000 2019-09-11      M  Bachelors
6  107    Grace    Finance   88000 2020-07-28      F        PhD

HRæˆ–ITéƒ¨é–€çš„å“¡å·¥:
    ID   Name Department  Salary   JoinDate Gender  Education
0  101  Alice         HR   72000 2019-05-21      F    Masters
1  102    Bob         IT   78000 2018-12-10      M  Bachelors
3  104  David         IT   85000 2017-08-30      M    Masters
5  106  Frank         HR   75000 2019-09-11      M  Bachelors

è§£èªªï¼š
- å–®ä¸€æ¢ä»¶ç¯©é¸: ä½¿ç”¨æ¯”è¼ƒé‹ç®—ç¬¦å¦‚ ==, >, <, >=, <=, != ç­‰
- å¤šæ¢ä»¶ç¯©é¸: ä½¿ç”¨ & (èˆ‡)å’Œ | (æˆ–)é€£æ¥å¤šå€‹æ¢ä»¶ï¼Œè¨˜å¾—ç”¨æ‹¬è™ŸåŒ…è£¹æ¯å€‹æ¢ä»¶
- `.isin()` æ–¹æ³•ç”¨æ–¼æª¢æŸ¥å€¼æ˜¯å¦åœ¨çµ¦å®šåˆ—è¡¨ä¸­ï¼Œé©åˆå¤šå€¼åŒ¹é…
- é€™äº›æ¢ä»¶ç¯©é¸æ–¹æ³•å¯ä»¥éˆæ´»çµ„åˆï¼Œè™•ç†å„ç¨®æ•¸æ“šåˆ†æéœ€æ±‚


### ğŸ“Š 6. åŸºç¤å¯¦ä¾‹ï¼šå“¡å·¥æ•¸æ“šåˆ†æ

In [8]:
# 6.1 è¨ˆç®—å„éƒ¨é–€çš„å¹³å‡è–ªè³‡
dept_avg_salary = employees.groupby('Department')['Salary'].mean()
print("å„éƒ¨é–€å¹³å‡è–ªè³‡:")
print(dept_avg_salary)

# 6.2 æ‰¾å‡ºè–ªè³‡æœ€é«˜çš„å“¡å·¥
highest_salary = employees.loc[employees['Salary'].idxmax()]
print("\nè–ªè³‡æœ€é«˜çš„å“¡å·¥:")
print(highest_salary)

# 6.3 çµ±è¨ˆå„å­¸æ­·å±¤ç´šçš„å“¡å·¥äººæ•¸
education_count = employees['Education'].value_counts()
print("\nå„å­¸æ­·å±¤ç´šçš„å“¡å·¥äººæ•¸:")
print(education_count)

å„éƒ¨é–€å¹³å‡è–ªè³‡:
Department
Finance      85500.0
HR           73500.0
IT           81500.0
Marketing    70000.0
Name: Salary, dtype: float64

è–ªè³‡æœ€é«˜çš„å“¡å·¥:
ID                            107
Name                        Grace
Department                Finance
Salary                      88000
JoinDate      2020-07-28 00:00:00
Gender                          F
Education                     PhD
Name: 6, dtype: object

å„å­¸æ­·å±¤ç´šçš„å“¡å·¥äººæ•¸:
Education
Bachelors    3
Masters      2
PhD          2
Name: count, dtype: int64

è§£èªªï¼š
- é€šéç°¡å–®çš„é¸å–æ–¹æ³•ï¼Œæˆ‘å€‘å¯ä»¥åŸ·è¡ŒåŸºæœ¬çš„æ•¸æ“šåˆ†æä»»å‹™
- `groupby()` ç”¨æ–¼åˆ†çµ„çµ±è¨ˆï¼Œæˆ‘å€‘æœƒåœ¨å¾ŒçºŒèª²ç¨‹ä¸­æ·±å…¥å­¸ç¿’
- `.idxmax()` è¿”å›æœ€å¤§å€¼æ‰€åœ¨çš„ç´¢å¼•ä½ç½®
- `.value_counts()` è¨ˆç®—æ¯å€‹å”¯ä¸€å€¼å‡ºç¾çš„æ¬¡æ•¸
- é€™äº›åŸºæœ¬æ“ä½œæ˜¯æ›´è¤‡é›œåˆ†æçš„åŸºç¤


### ğŸ“‹ 7. ç¸½çµ


#### 7.1 é¸å–å’Œç´¢å¼•çš„æ–¹æ³•æ¦‚è¦½
- **åˆ—é¸å–**:
  - å–®åˆ—: `df['åˆ—å']` (è¿”å›Series)
  - å¤šåˆ—: `df[['åˆ—å1', 'åˆ—å2']]` (è¿”å›DataFrame)
  
- **è¡Œé¸å–**:
  - åˆ‡ç‰‡: `df[start:end]`
  - æ¢ä»¶: `df[df['åˆ—å'] > å€¼]`
  
- **ç²¾ç¢ºç´¢å¼•**:
  - `.loc[è¡Œæ¨™ç±¤, åˆ—æ¨™ç±¤]` - åŸºæ–¼æ¨™ç±¤ç´¢å¼•
  - `.iloc[è¡Œä½ç½®, åˆ—ä½ç½®]` - åŸºæ–¼ä½ç½®ç´¢å¼•
  
- **æ¢ä»¶ç¯©é¸**:
  - å–®æ¢ä»¶: `df[df['åˆ—å'] == å€¼]`
  - å¤šæ¢ä»¶èˆ‡: `df[(æ¢ä»¶1) & (æ¢ä»¶2)]`
  - å¤šæ¢ä»¶æˆ–: `df[(æ¢ä»¶1) | (æ¢ä»¶2)]`
  - å¤šå€¼åŒ¹é…: `df[df['åˆ—å'].isin([å€¼1, å€¼2])]`


#### 7.2 é¸å–èˆ‡ç´¢å¼•æ™‚çš„æ³¨æ„äº‹é …
- `.loc[]` çš„ç¯„åœæ˜¯é–‰å€é–“ï¼ŒåŒ…å«çµæŸç´¢å¼•
- `.iloc[]` çš„ç¯„åœæ˜¯åŠé–‹å€é–“ï¼Œä¸åŒ…å«çµæŸä½ç½®
- ä½¿ç”¨æ¢ä»¶ç¯©é¸æ™‚ï¼Œå¤šå€‹æ¢ä»¶è¦ç”¨æ‹¬è™Ÿæ‹¬èµ·ä¾†
- é»ç¬¦è™Ÿ (`df.åˆ—å`) åªé©ç”¨æ–¼åˆ—åä¸å«ç©ºæ ¼æˆ–ç‰¹æ®Šå­—ç¬¦çš„æƒ…æ³
- é¸å–å–®åˆ—è¿”å›Seriesï¼Œé¸å–å¤šåˆ—æˆ–è¡Œè¿”å›DataFrame


#### 7.3 ä¸‹ä¸€æ­¥å­¸ç¿’
- æ›´å¤šè³‡æ–™ç¯©é¸æŠ€å·§
- æ•¸æ“šåˆ†çµ„èˆ‡èšåˆ
- è™•ç†ç¼ºå¤±å€¼
- æ•¸æ“šè½‰æ›èˆ‡è¨ˆç®—
- é€è¦–è¡¨èˆ‡äº¤å‰è¡¨